<nav class="navbar shooter-nav navbar-expand-lg bg-dark border-bottom" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Shootaaaah!</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/user-profiles.html">Users Profiles</a>
        <a class="nav-link" href="https://indd.adobe.com/view/31dec80b-015d-446f-b348-b4dfcc08b859" target="_blank">Return to Media Guide</a>
      </div>
    </div>
  </div>
</nav>