
  {{ define "main" }}
  <main class="" id="content">
    <div class="container-xxl p-3">
      <div class="row">
        <div class="col-lg-9 col-xl-9 col-md-9 col-sm-12 mb-3">
          <div class="thread border p-0 m-0 rounded-2">
            <div class="thread__header bg-secondary-subtle p-2">
              {{ $targetIndex := 2 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
              {{ range $index, $user := .Site.Data.users }}
              {{ if eq $index $targetIndex }}
              <div class="row align-items-center justify-content-md-center">
                <div class="col-auto">
                  <div class="headshot mb-0"style="background-image: url('{{ $user.profile.headshot | relURL }}');"></div>
                </div><!-- end col-->
                <div class="col">
                    <!---- start the display of the profile and actual name -->
                    <div class="row justify-content-start align-items-center">
                      <div class="col-auto border-secondary-subtle border-end">
                        <div class="profilename">{{ $user.profile.name }} <div class="actualname">{{$user.profile.actualname }}</div>
                        </div>
                      </div><!-- end column-->
                  
                      <div class="col-auto">
                        <strong>Sep 1, 2023</strong>
                      </div><!-- end column-->
                    </div><!-- end row-->
                    {{ end }}
                    {{ end }}
                    <!--end the display of the profile and actual name-->
                </div><!-- end col-->
              </div><!-- end row-->
            </div><!-- end thread__header-->

            <div class="thread__body p-3">
              <!-- start of the main post-->
                  {{ .Content }}
              <!-- end of the main post -->

              <h4 class="text-center mt-3 mb-3">Replies</h4>
              <!---------------------------------Start Thread Reply ----------------------------------->
              <!-- this is the start of a reply block #1-->
              <div class="thread__body__reply">
                {{ $targetIndex := 10 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
                {{ range $index, $user := .Site.Data.users }}
                {{ if eq $index $targetIndex }}
                <div class="row align-items-center justify-content-md-center">
                  <div class="col-auto">
                    <div class="headshot mb-0" style="background-image: url('{{ $user.profile.headshot | relURL }}');"></div>
                  </div><!-- end col-->
                  <div class="col p-0">
                    <!---- start the display of the profile and actual name -->
                    <div class="row justify-content-start align-items-center">
                      <div class="col-auto border-secondary-subtle border-end">
                        <div class="profilename">{{ $user.profile.name }} <div class="actualname">{{$user.profile.actualname }}</div>
                        </div>
                      </div><!-- end column-->
                    
                      <div class="col-auto">
                        <span class="fw-light"><em>1 month ago</em></span>
                      </div><!-- end column-->
                    </div><!-- end row-->
                    {{ end }}
                    {{ end }}
                    <!--end the display of the profile and actual name-->
                  </div><!-- end col-->
                </div><!-- end row-->
                <!-------------- start lets go bitches reply inner ------------>
                <div class="thread__body__reply__inner">
                  <p><img src="https://media.giphy.com/media/l1KVb2dUcmuGG4tby/giphy.gif" class="img-fluid"></p>
                  <div class="thread__body__likes">
                    <div class="likes-container"><span class="likes"></span> <span>4</span></div><!-- end container-->
                  </div><!-- end likes container-->
                </div><!-------------- end lets go bitches reply inner ------------>
              </div><!-- this is the end of a reply block #1-->

              <!---------- this is the start of a reply block #2 --------->
              <div class="thread__body__reply">
                <!---- START USER DATA ROW ------>
                  {{ $targetIndex := 16 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
                  {{ range $index, $user := .Site.Data.users }}
                  {{ if eq $index $targetIndex }}
                  <div class="row align-items-center justify-content-md-center">
                    <div class="col-auto">
                      <div class="headshot mb-0" style="background-image: url('{{ $user.profile.headshot | relURL }}');"></div>
                    </div><!-- end col-->
                    <div class="col p-0">
                      <!---- start the display of the profile and actual name -->
                      <div class="row justify-content-start align-items-center">
                        <div class="col-auto border-secondary-subtle border-end">
                          <div class="profilename">{{ $user.profile.name }} <div class="actualname">{{$user.profile.actualname }}</div>
                          </div>
                        </div><!-- end column-->
                  
                        <div class="col-auto">
                          <span class="fw-light"><em>1 month ago</em></span>
                        </div><!-- end column-->
                      </div><!-- end row-->
                      {{ end }}
                      {{ end }}
                      <!--end the display of the profile and actual name-->
                      </div><!-- end col-->
                  </div><!-- end row-->
                <!---- END USER DATA ROW ------>
                
                <!--- START of nested REPLY #1 looks like... --->
                  <div class="thread__body__reply__inner">
                      <p>I’m calling BS on these numbers. Does your algorithm take into effect claw guns? cig consumption? bringing the vibes? &#128169;</p>
                      <div class="thread__body__likes">
                        <div class="likes-container"><span class="likes"></span> <span>10</span></div><!-- end container-->
                      </div><!-- end likes container-->
                            <!---- NESTED REPLY TO LOOKS LIKE SHOOTER iS LEAVING-->
                            <div class="thread__body__reply__nested">
                                {{ $targetIndex := 11 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
                                {{ range $index, $user := .Site.Data.users }}
                                {{ if eq $index $targetIndex }}
                                <div class="row align-items-center justify-content-md-center">
                                  <div class="col-auto">
                                    <div class="headshot mb-0" style="background-image: url('{{ $user.profile.headshot | relURL }}');"></div>
                                  </div><!-- end col-->
                                  <div class="col p-0">
                                    <!---- start the display of the profile and actual name -->
                                    <div class="row justify-content-start align-items-center">
                                      <div class="col-auto border-secondary-subtle border-end">
                                        <div class="profilename">{{ $user.profile.name }} <div class="actualname">{{$user.profile.actualname }}</div>
                                        </div>
                                      </div><!-- end column-->
                                
                                      <div class="col-auto">
                                        <span class="fw-light"><em>1 month ago</em></span>
                                      </div><!-- end column-->
                                    </div><!-- end row-->
                                    {{ end }}
                                    {{ end }}
                                    <!--end the display of the profile and actual name-->
                                </div><!-- end col-->
                              </div><!-- end row-->
                              <div class="thread__body__reply__inner">
                                <p>&#9757;</p>
                                <div class="thread__body__likes">
                                  <div class="likes-container"><span class="likes"></span> <span>12</span></div><!-- end container-->
                                </div><!-- end likes container-->
                              </div><!-- end reply inner MIGHT WANNA CHECK THOSE FACTS-->

                            </div><!-- end thread__body__reply__nested-->
                            <!----END NESTED REPLY TO LOOKS LIKE SHOOTER IS LEAVING-->

                  </div><!----- END thread__body nested reply #1 Looks like ----->
              </div><!-------- this is the end of a reply block #2 ------>

                <!---------- this is the start of a reply block #3 --------->
                <div class="thread__body__reply">
                  <!---- START USER DATA ROW ------>
                  {{ $targetIndex := 5 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
                  {{ range $index, $user := .Site.Data.users }}
                  {{ if eq $index $targetIndex }}
                  <div class="row align-items-center justify-content-md-center">
                    <div class="col-auto">
                      <div class="headshot mb-0" style="background-image: url('{{ $user.profile.headshot | relURL }}');"></div>
                    </div><!-- end col-->
                    <div class="col p-0">
                      <!---- start the display of the profile and actual name -->
                      <div class="row justify-content-start align-items-center">
                        <div class="col-auto border-secondary-subtle border-end">
                          <div class="profilename">{{ $user.profile.name }} <div class="actualname">{{$user.profile.actualname }}</div>
                          </div>
                        </div><!-- end column-->
                  
                        <div class="col-auto">
                          <span class="fw-light"><em>1 month ago</em></span>
                        </div><!-- end column-->
                      </div><!-- end row-->
                      {{ end }}
                      {{ end }}
                      <!--end the display of the profile and actual name-->
                    </div><!-- end col-->
                  </div><!-- end row-->
                  <!---- END USER DATA ROW ------>
                
                  <!--- START of nested REPLY #1 looks like... --->
                  <div class="thread__body__reply__inner">
                    <p>Unreal, well done <span class="tag">@CalipariSux!</span></p>
                      <img src="https://media.giphy.com/media/9uoYC7cjcU6w8/giphy.gif" class="img-fluid"/>
                    </p>
                    <div class="thread__body__likes">
                      <div class="likes-container"><span class="likes"></span> <span>3</span></div><!-- end container-->
                    </div><!-- end likes container-->
                  </div><!----- END thread__body_innerreply #1 Looks like ----->
                </div><!-------- this is the end of a reply block #3 ------>

                <!---------- this is the start of a reply block #4 --------->
                <div class="thread__body__reply">
                  <!---- START USER DATA ROW ------>
                  {{ $targetIndex := 18 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
                  {{ range $index, $user := .Site.Data.users }}
                  {{ if eq $index $targetIndex }}
                  <div class="row align-items-center justify-content-md-center">
                    <div class="col-auto">
                      <div class="headshot mb-0" style="background-image: url('{{ $user.profile.headshot | relURL }}');"></div>
                    </div><!-- end col-->
                    <div class="col p-0">
                      <!---- start the display of the profile and actual name -->
                      <div class="row justify-content-start align-items-center">
                        <div class="col-auto border-secondary-subtle border-end">
                          <div class="profilename">{{ $user.profile.name }} <div class="actualname">{{$user.profile.actualname }}</div>
                          </div>
                        </div><!-- end column-->
                
                        <div class="col-auto">
                          <span class="fw-light"><em>1 month ago</em></span>
                        </div><!-- end column-->
                      </div><!-- end row-->
                      {{ end }}
                      {{ end }}
                      <!--end the display of the profile and actual name-->
                    </div><!-- end col-->
                  </div><!-- end row-->
                  <!---- END USER DATA ROW ------>
                
                  <!--- START of nested REPLY #1 looks like... --->
                  <div class="thread__body__reply__inner">
                    <p>Analytics is overrated, my boy is #1! Well, technically, he is #2 after me, but that’s beside the point.</p>
                    <div class="thread__body__likes">
                      <div class="likes-container"><span class="likes"></span> <span>1</span></div><!-- end container-->
                    </div><!-- end likes container-->
                  </div><!----- END thread__body_innerreply #1 Looks like ----->
                </div><!-------- this is the end of a reply block #4 ------>

                <!---------- this is the start of a reply block #5 --------->
                <div class="thread__body__reply">
                  <!---- START USER DATA ROW ------>
                  {{ $targetIndex := 18 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
                  {{ range $index, $user := .Site.Data.users }}
                  {{ if eq $index $targetIndex }}
                  <div class="row align-items-center justify-content-md-center">
                    <div class="col-auto">
                      <div class="headshot mb-0" style="background-image: url('/docs/5.3/assets/img/headshots/random.jpg');"></div>
                    </div><!-- end col-->
                    <div class="col p-0">
                      <!---- start the display of the profile and actual name -->
                      <div class="row justify-content-start align-items-center">
                        <div class="col-auto border-secondary-subtle border-end">
                          <div class="profilename">BigFriendly’sWife <div class="actualname">Emily M.</div>
                          </div>
                        </div><!-- end column-->
                
                        <div class="col-auto">
                          <span class="fw-light"><em>3 weeks ago</em></span>
                        </div><!-- end column-->
                      </div><!-- end row-->
                      {{ end }}
                      {{ end }}
                      <!--end the display of the profile and actual name-->
                    </div><!-- end col-->
                  </div><!-- end row-->
                  <!---- END USER DATA ROW ------>
                
                  <!--- START of nested REPLY #1 looks like... --->
                  <div class="thread__body__reply__inner">
                    <p>Way to go Thomas! &#129321;</p>
                    <div class="thread__body__likes">
                      <div class="likes-container"><span class="likes"></span> <span>1</span></div><!-- end container-->
                    </div><!-- end likes container-->
                  </div><!----- END thread__body_innerreply #1 Looks like ----->
                </div><!-------- this is the end of a reply block #4 ------>

                  <!---------- this is the start of a reply block #5 --------->
                  <div class="thread__body__reply">
                    <!---- START USER DATA ROW ------>
                    {{ $targetIndex := 1 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
                    {{ range $index, $user := .Site.Data.users }}
                    {{ if eq $index $targetIndex }}
                    <div class="row align-items-center justify-content-md-center">
                      <div class="col-auto">
                        <div class="headshot mb-0" style="background-image: url('{{ $user.profile.headshot | relURL }}');"></div>
                      </div><!-- end col-->
                      <div class="col p-0">
                        <!---- start the display of the profile and actual name -->
                        <div class="row justify-content-start align-items-center">
                          <div class="col-auto border-secondary-subtle border-end">
                            <div class="profilename">{{ $user.profile.name }} <div class="actualname">{{$user.profile.actualname }}</div>
                            </div>
                          </div><!-- end column-->
                      
                          <div class="col-auto">
                            <span class="fw-light"><em>2 weeks ago</em></span>
                          </div><!-- end column-->
                        </div><!-- end row-->
                        {{ end }}
                        {{ end }}
                        <!--end the display of the profile and actual name-->
                      </div><!-- end col-->
                    </div><!-- end row-->
                    <!---- END USER DATA ROW ------>
                  
                    <!--- START of nested REPLY #1 looks like... --->
                    <div class="thread__body__reply__inner">
                      <p>Let the record show, I still think Greg/Wes was the G.O.A.T.</p>
                      <!---- NESTED REPLY TO LOOKS LIKE SHOOTER iS LEAVING-->
                      <div class="thread__body__reply__nested">
                        <!---- START USER DATA ROW ------>
                        {{ $targetIndex := 12 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
                        {{ range $index, $user := .Site.Data.users }}
                        {{ if eq $index $targetIndex }}
                        <div class="row align-items-center justify-content-md-center">
                          <div class="col-auto">
                            <div class="headshot mb-0" style="background-image: url('{{ $user.profile.headshot | relURL }}');"></div>
                          </div><!-- end col-->
                          <div class="col p-0">
                            <!---- start the display of the profile and actual name -->
                            <div class="row justify-content-start align-items-center">
                              <div class="col-auto border-secondary-subtle border-end">
                                <div class="profilename">{{ $user.profile.name }} <div class="actualname">{{$user.profile.actualname }}</div>
                                </div>
                              </div><!-- end column-->
                          
                              <div class="col-auto">
                                <span class="fw-light"><em>2 weeks ago</em></span>
                              </div><!-- end column-->
                            </div><!-- end row-->
                            {{ end }}
                            {{ end }}
                            <!--end the display of the profile and actual name-->
                          </div><!-- end col-->
                        </div><!-- end row-->
                        <div class="thread__body__reply__inner">
                          <p><img src="https://media.giphy.com/media/hvq8ONQhQ1XLq/giphy.gif" class="img-fluid"></p>
                          <div class="thread__body__likes">
                            <div class="likes-container"><span class="likes"></span> <span>6</span></div><!-- end container-->
                          </div><!-- end likes container-->
                       <!----- END NESTED REPLY BLOCK of MIGHT WANNA CHECK THOSE FACTS -->
                        </div><!-- end reply inner MIGHT WANNA CHECK THOSE FACTS-->
                  
                      </div><!-- end thread__body__reply__nested-->
                      <!----END NESTED REPLY TO LOOKS LIKE SHOOTER IS LEAVING-->
                  
                    </div><!----- END thread__body nested reply #1 Looks like ----->
                  </div><!-------- this is the end of a reply block #5 ------>

                    <!---------- this is the start of a reply block #5 --------->
                    <div class="thread__body__reply">
                      <!---- START USER DATA ROW ------>
                      {{ $targetIndex := 9 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
                      {{ range $index, $user := .Site.Data.users }}
                      {{ if eq $index $targetIndex }}
                      <div class="row align-items-center justify-content-md-center">
                        <div class="col-auto">
                          <div class="headshot mb-0" style="background-image: url('{{ $user.profile.headshot | relURL }}');"></div>
                        </div><!-- end col-->
                        <div class="col p-0">
                          <!---- start the display of the profile and actual name -->
                          <div class="row justify-content-start align-items-center">
                            <div class="col-auto border-secondary-subtle border-end">
                              <div class="profilename">{{$user.profile.name}} <div class="actualname">{{$user.profile.actualname }}</div>
                              </div>
                            </div><!-- end column-->
                    
                            <div class="col-auto">
                              <span class="fw-light"><em>3 weeks ago</em></span>
                            </div><!-- end column-->
                          </div><!-- end row-->
                          {{ end }}
                          {{ end }}
                          <!--end the display of the profile and actual name-->
                        </div><!-- end col-->
                      </div><!-- end row-->
                      <!---- END USER DATA ROW ------>
                    
                      <!--- START of nested REPLY #1 looks like... --->
                      <div class="thread__body__reply__inner">
                        <p>Pretty cool… but where are the numbers for all-time gambling winnings?</p>
                        <div class="thread__body__likes">
                          <div class="likes-container"><span class="likes"></span> <span>8</span></div><!-- end container-->
                        </div><!-- end likes container-->
                      </div><!----- END thread__body_innerreply #1 Looks like ----->
                    </div><!-------- this is the end of a reply block #4 ------>
  
                    <!---------- this is the start of a reply block #5 --------->
                    <div class="thread__body__reply">
                      <!---- START USER DATA ROW ------>
                      {{ $targetIndex := 1 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
                      {{ range $index, $user := .Site.Data.users }}
                      {{ if eq $index $targetIndex }}
                      <div class="row align-items-center justify-content-md-center">
                        <div class="col-auto">
                          <div class="headshot mb-0" style="background-image: url('/docs/5.3/assets/img/headshots/random.jpg');"></div>
                        </div><!-- end col-->
                        <div class="col p-0">
                          <!---- start the display of the profile and actual name -->
                          <div class="row justify-content-start align-items-center">
                            <div class="col-auto border-secondary-subtle border-end">
                              <div class="profilename">randomfan1</div>
                            </div><!-- end column-->
                    
                            <div class="col-auto">
                              <span class="fw-light"><em>1 weeks ago</em></span>
                            </div><!-- end column-->
                          </div><!-- end row-->
                          {{ end }}
                          {{ end }}
                          <!--end the display of the profile and actual name-->
                        </div><!-- end col-->
                      </div><!-- end row-->
                      <!---- END USER DATA ROW ------>
                    
                      <!--- START of nested REPLY #1 looks like... --->
                      <div class="thread__body__reply__inner">
                        <p>Who do you all think the best pairing of all time is?</p>
                        
                        <!---- NESTED REPLY BLOCK-->
                        <div class="thread__body__reply__nested">
                          <!---- START USER DATA ROW ------>
                          {{ $targetIndex := 0 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
                          {{ range $index, $user := .Site.Data.users }}
                          {{ if eq $index $targetIndex }}
                          <div class="row align-items-center justify-content-md-center">
                            <div class="col-auto">
                              <div class="headshot mb-0" style="background-image: url('{{ $user.profile.headshot | relURL }}');"></div>
                            </div><!-- end col-->
                            <div class="col p-0">
                              <!---- start the display of the profile and actual name -->
                              <div class="row justify-content-start align-items-center">
                                <div class="col-auto border-secondary-subtle border-end">
                                  <div class="profilename">{{ $user.profile.name }} <div class="actualname">{{$user.profile.actualname }}
                                    </div>
                                  </div>
                                </div><!-- end column-->
                    
                                <div class="col-auto">
                                  <span class="fw-light"><em>2 weeks ago</em></span>
                                </div><!-- end column-->
                              </div><!-- end row-->
                              {{ end }}
                              {{ end }}
                              <!--end the display of the profile and actual name-->
                            </div><!-- end col-->
                          </div><!-- end row-->
                          <div class="thread__body__reply__inner">
                            <p><span class="tag">@HybridLover1</span></p>
                              <img src="/docs/5.3/assets/img/phil-jonny.jpg" class="img-fluid" width="200">
                            <div class="thread__body__likes">
                              <div class="likes-container"><span class="likes"></span> <span>30</span></div><!-- end container-->
                            </div><!-- end likes container-->
                                <!---- NESTED REPLY BLOCK-->
                                <div class="thread__body__reply__nested">
                                  <!---- START USER DATA ROW ------>
                                  {{ $targetIndex := 6 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
                                  {{ range $index, $user := .Site.Data.users }}
                                  {{ if eq $index $targetIndex }}
                                  <div class="row align-items-center justify-content-md-center">
                                    <div class="col-auto">
                                      <div class="headshot mb-0" style="background-image: url('{{ $user.profile.headshot | relURL }}');"></div>
                                    </div><!-- end col-->
                                    <div class="col p-0">
                                      <!---- start the display of the profile and actual name -->
                                      <div class="row justify-content-start align-items-center">
                                        <div class="col-auto border-secondary-subtle border-end">
                                          <div class="profilename">{{ $user.profile.name }} <div class="actualname">{{$user.profile.actualname }}
                                            </div>
                                          </div>
                                        </div><!-- end column-->
                                
                                        <div class="col-auto">
                                          <span class="fw-light"><em>2 weeks ago</em></span>
                                        </div><!-- end column-->
                                      </div><!-- end row-->
                                      {{ end }}
                                      {{ end }}
                                      <!--end the display of the profile and actual name-->
                                    </div><!-- end col-->
                                  </div><!-- end row-->
                                  <div class="thread__body__reply__inner">
                                    <img src="https://media.giphy.com/media/3o7TKF1fSIs1R19B8k/giphy.gif" class="img-fluid" width="300">
                                    <div class="thread__body__likes">
                                      <div class="likes-container"><span class="likes"></span> <span>4</span></div><!-- end container-->
                                    </div><!-- end likes container-->
                                    <!----- END NESTED REPLY BLOCK of MIGHT WANNA CHECK THOSE FACTS -->
                                  </div><!-- end reply inner MIGHT WANNA CHECK THOSE FACTS-->
                                
                                </div><!-- end thread__body__reply__nested-->
                                <!----END NESTED REPLY BLOCK-->

                            <!----- END NESTED REPLY BLOCK of MIGHT WANNA CHECK THOSE FACTS -->
                          </div><!-- end reply inner MIGHT WANNA CHECK THOSE FACTS-->

                       </div><!-- end thread__body__reply__nested-->
                        <!----END NESTED REPLY BLOCK-->

                        <!---- NESTED REPLY BLOCK-->
                        <div class="thread__body__reply__nested">
                          <!---- START USER DATA ROW ------>
                          {{ $targetIndex := 13 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
                          {{ range $index, $user := .Site.Data.users }}
                          {{ if eq $index $targetIndex }}
                          <div class="row align-items-center justify-content-md-center">
                            <div class="col-auto">
                              <div class="headshot mb-0" style="background-image: url('{{ $user.profile.headshot | relURL }}');"></div>
                            </div><!-- end col-->
                            <div class="col p-0">
                              <!---- start the display of the profile and actual name -->
                              <div class="row justify-content-start align-items-center">
                                <div class="col-auto border-secondary-subtle border-end">
                                  <div class="profilename">{{ $user.profile.name }} <div class="actualname">{{$user.profile.actualname }}
                                    </div>
                                  </div>
                                </div><!-- end column-->
                        
                                <div class="col-auto">
                                  <span class="fw-light"><em>2 weeks ago</em></span>
                                </div><!-- end column-->
                              </div><!-- end row-->
                              {{ end }}
                              {{ end }}
                              <!--end the display of the profile and actual name-->
                            </div><!-- end col-->
                          </div><!-- end row-->
                          <div class="thread__body__reply__inner">
                            <p>I see you and raise you...</p>
                            <img src="/docs/5.3/assets/img/trey-debar.jpg" class="img-fluid" width="500">
                            <div class="thread__body__likes">
                              <div class="likes-container"><span class="likes"></span> <span>3</span></div><!-- end container-->
                            </div><!-- end likes container-->
                              <!---- NESTED REPLY BLOCK-->
                              <div class="thread__body__reply__nested">
                                <!---- START USER DATA ROW ------>
                                {{ $targetIndex := 8 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
                                {{ range $index, $user := .Site.Data.users }}
                                {{ if eq $index $targetIndex }}
                                <div class="row align-items-center justify-content-md-center">
                                  <div class="col-auto">
                                    <div class="headshot mb-0" style="background-image: url('{{ $user.profile.headshot | relURL }}');"></div>
                                  </div><!-- end col-->
                                  <div class="col p-0">
                                    <!---- start the display of the profile and actual name -->
                                    <div class="row justify-content-start align-items-center">
                                      <div class="col-auto border-secondary-subtle border-end">
                                        <div class="profilename">{{ $user.profile.name }} <div class="actualname">{{$user.profile.actualname }}
                                          </div>
                                        </div>
                                      </div><!-- end column-->
                              
                                      <div class="col-auto">
                                        <span class="fw-light"><em>2 weeks ago</em></span>
                                      </div><!-- end column-->
                                    </div><!-- end row-->
                                    {{ end }}
                                    {{ end }}
                                    <!--end the display of the profile and actual name-->
                                  </div><!-- end col-->
                                </div><!-- end row-->
                                <div class="thread__body__reply__inner">
                                  <img src="https://media.giphy.com/media/yUI3a7RwLhOFy/giphy.gif" class="img-fluid" width="500">
                                  <div class="thread__body__likes">
                                    <div class="likes-container"><span class="likes"></span> <span>3</span></div><!-- end container-->
                                  </div><!-- end likes container-->
                                  <!----- END NESTED REPLY BLOCK of MIGHT WANNA CHECK THOSE FACTS -->
                                </div><!-- end reply inner MIGHT WANNA CHECK THOSE FACTS-->
                              
                              </div><!-- end thread__body__reply__nested-->
                              <!----END NESTED REPLY BLOCK-->
                            <!----- END NESTED REPLY BLOCK of MIGHT WANNA CHECK THOSE FACTS -->
                          </div><!-- end reply inner MIGHT WANNA CHECK THOSE FACTS-->
                        
                        </div><!-- end thread__body__reply__nested-->
                        <!----END NESTED REPLY BLOCK-->

                        <!---- NESTED REPLY BLOCK-->
                        <div class="thread__body__reply__nested">
                          <!---- START USER DATA ROW ------>
                          {{ $targetIndex := 14 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
                          {{ range $index, $user := .Site.Data.users }}
                          {{ if eq $index $targetIndex }}
                          <div class="row align-items-center justify-content-md-center">
                            <div class="col-auto">
                              <div class="headshot mb-0" style="background-image: url('{{ $user.profile.headshot | relURL }}');"></div>
                            </div><!-- end col-->
                            <div class="col p-0">
                              <!---- start the display of the profile and actual name -->
                              <div class="row justify-content-start align-items-center">
                                <div class="col-auto border-secondary-subtle border-end">
                                  <div class="profilename">{{ $user.profile.name }} <div class="actualname">{{$user.profile.actualname }}
                                    </div>
                                  </div>
                                </div><!-- end column-->
                        
                                <div class="col-auto">
                                  <span class="fw-light"><em>2 weeks ago</em></span>
                                </div><!-- end column-->
                              </div><!-- end row-->
                              {{ end }}
                              {{ end }}
                              <!--end the display of the profile and actual name-->
                            </div><!-- end col-->
                          </div><!-- end row-->
                          <div class="thread__body__reply__inner">
                            <p>Definitely Clint and Lee!</p>
                            <div class="thread__body__likes">
                              <div class="likes-container"><span class="likes"></span> <span>50</span></div><!-- end container-->
                            </div><!-- end likes container-->
                            <!----- END NESTED REPLY BLOCK of MIGHT WANNA CHECK THOSE FACTS -->
                          </div><!-- end reply inner MIGHT WANNA CHECK THOSE FACTS-->
                        
                        </div><!-- end thread__body__reply__nested-->
                        <!----END NESTED REPLY BLOCK-->
                    </div><!----- END thread__body__reply__inner nested reply #1 Looks like ----->
                    </div><!-------- this is the end of a reply block #5 ------>

                    <!---------- this is the start of a reply block #5 --------->
                    <div class="thread__body__reply">
                      <!---- START USER DATA ROW ------>
                      {{ $targetIndex := 18 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
                      {{ range $index, $user := .Site.Data.users }}
                      {{ if eq $index $targetIndex }}
                      <div class="row align-items-center justify-content-md-center">
                        <div class="col-auto">
                          <div class="headshot mb-0" style="background-image: url('/docs/5.3/assets/img/headshots/random.jpg');"></div>
                        </div><!-- end col-->
                        <div class="col p-0">
                          <!---- start the display of the profile and actual name -->
                          <div class="row justify-content-start align-items-center">
                            <div class="col-auto border-secondary-subtle border-end">
                              <div class="profilename">RyanAnderson <div class="actualname">Ryan A.</div>
                              </div>
                            </div><!-- end column-->
                    
                            <div class="col-auto">
                              <span class="fw-light"><em>3 weeks ago</em></span>
                            </div><!-- end column-->
                          </div><!-- end row-->
                          {{ end }}
                          {{ end }}
                          <!--end the display of the profile and actual name-->
                        </div><!-- end col-->
                      </div><!-- end row-->
                      <!---- END USER DATA ROW ------>
                    
                      <!--- START of nested REPLY #1 looks like... --->
                      <div class="thread__body__reply__inner">
                        <p>Wow, you guys are still taking this pretty seriously I see.</p>
                      </div><!----- END thread__body_innerreply #1 Looks like ----->
                    </div><!-------- this is the end of a reply block #4 ------>

              <!---------------------------------End Thread Reply ----------------------------------->
            </div><!-- end MAIN THREAD body-->
          </div><!--------- THIS ENDS THE ENTIRE THREAD --------->
        </div><!-- THIS ends the column for the thread-->



        <!-- start the sidebar-->
        <div class="col-lg-3 col-xl-3 col-md-3 col-sm-12">
            {{ partial "sidebar.html" . }}
        </div><!-- end sidebar-->

      </div><!--end row-->
    </div><!-- end container -->

  
  </main>
  {{ end }}