{{ define "main" }}
  <main>
<div class="hero p-5 mb-4 bg-primary">
    <img src="/docs/5.3/assets/img/smi-logo.svg" class="mx-auto d-block img-fluid"/> 
</div><!-- end hero -->
<div class="container-xxl mt-3">
  <h2 class="text-center mb-3">Popular</h2>
  <div class="row">
      <div class="col-lg-4 col-sm-12 mb-3">
        {{ $targetUser := index .Site.Data.users 6 }}
        {{ $extendedProfile := merge $targetUser.profile (dict
        "storyName" "Welcome to Shooter X"
        "storyDescription" (printf "Let's get this party started. Time to kick off Shooter X.")
        "storyURL" "/welcome.html"
        "date" "Sep 24, 2023"
        "likes" "300"
        "comments" "20"
        "class" "h-100 border-secondary"
        "featuredimg" "/docs/5.3/assets/img/18-hole.jpg"
        "activity" "Vernodamous replied to this thread"
        ) }}
        {{ partial "pieces/card" $extendedProfile }}
      </div><!-- end column-->
      
    <div class="col-lg-4 col-sm-12 mb-3">
      {{ $targetUser := index .Site.Data.users 2 }}
      {{ $extendedProfile := merge $targetUser.profile (dict
      "storyName" "Data is beautiful"
      "storyDescription" (printf "After 9 years of matches, outcomes and one massive spreadsheet - we have compiled everything into one glorious thread.")
      "storyURL" "/data.html"
      "date" "Sep 1, 2023"
      "likes" "320"
      "comments" "15"
      "class" "h-100"
      "featuredimg" "https://media.giphy.com/media/l3fZLMbuCOqJ82gec/giphy.gif"
      "activity" "RyanAnderson replied to a thread"
      ) }} 
      {{ partial "pieces/card" $extendedProfile }}
    </div><!-- end column-->
 
    <div class="col-lg-4 col-sm-12 mb-3">
      {{ $targetUser := index .Site.Data.users 18 }}
      {{ $extendedProfile := merge $targetUser.profile (dict
      "storyName" "Ask me anything"
      "storyDescription" (printf "Ask Slick Rick anything!")
      "storyURL" "/slick-rick.html"
      "date" "July 13, 2017"
      "likes" "41k"
      "comments" "20"
      "class" "h-100"
      "featuredimg" "/docs/5.3/assets/img/rick-guru.jpg"
      "activity" "SlickRick52 replied to a thread"
      ) }}
      {{ partial "pieces/card" $extendedProfile }}
    </div><!-- end column-->
  </div> <!-- end row--> 
 
<div class="row"> 
  <h2 class="text-center mt-3 mb-3">Latest Posts</h2>
  <div class="col-lg-8">
      {{ $targetUser := index .Site.Data.users 3 }}
      {{ $extendedProfile := merge $targetUser.profile (dict
      "storyName" "Team TN strategy roundtable"
      "storyDescription" (printf "Another year, another Shooter! Let's get this thing rolling fellas. I wanna hear all your thoughts this year for how we can continue the win streak.")
      "storyURL" "/teamtn.html"
      "date" "January 1, 2023"
      "class" "no-img"
      "likes" "300"
      "comments" "35"
      "activity" "BluePillPhil replied to a thread"

      ) }}
      {{ partial "pieces/card" $extendedProfile }}

        {{ $targetUser := index .Site.Data.users 16 }}
        {{ $extendedProfile := merge $targetUser.profile (dict
        "storyName" "Team SIP does strategy!"
        "storyDescription" (printf "R.I.P. Pod system. New year, new me.")
        "storyURL" "/teamms.html"
        "date" "August 15, 2023"
        "class" "no-img"
        "likes" "300"
        "comments" "35"
        "activity" "Randomdude601 replied to a thread"
        ) }}
        {{ partial "pieces/card" $extendedProfile }}

      {{ $targetUser := index .Site.Data.users 1 }}
      {{ $extendedProfile := merge $targetUser.profile (dict
      "storyName" "Tips & Tricks"
      "storyDescription" (printf "One spot for all things golf. Dive in and join the community.")
      "storyURL" "/tips-tricks.html"
      "date" "March 2, 2018"
      "class" "no-img"
      "likes" "10k"
      "comments" "100"
      "activity" "FratStar83 replied to a thread"
      ) }}
      {{ partial "pieces/card" $extendedProfile }}
  </div><!-- end col left-->
  <div class="col-lg-4 mb-3">
    <div class="text-bg-light rounded-1 p-3 border">
      <img src="/docs/5.3/assets/img/ads/trey-ad.jpg" class="img-fluid" />
      <p class="text-center mt-1 mb-0">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill"
      viewBox="0 0 16 16">
      <path
        d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" /></svg> Sponsored</p>
    </div><!-- end div-->

  <h3 class="text-center mt-3 mb-3">Top Contributors</h3>
  <div class="container border bg-light p-3 rounded-1">
  <div class="row">
    <div class="col-4">
        {{ $targetIndex := 6 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
        {{ range $index, $user := .Site.Data.users }}
        {{ if eq $index $targetIndex }}
        <div class="headshot mb-2" style="background-image: url('{{ $user.profile.headshot | relURL }}');"></div><!-- end headshot-->
        <h6 class="mb-0">{{ $user.profile.name }}</h6>
        <p class="mb-0">{{ $user.profile.posts }} posts</p>
        {{ end }}
        {{ end }}
    </div><!-- end col-->

    <div class="col-4">
      {{ $targetIndex := 1 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
      {{ range $index, $user := .Site.Data.users }}
      {{ if eq $index $targetIndex }}
      <div class="headshot mb-2" style="background-image: url('{{ $user.profile.headshot | relURL }}');"></div>
      <!-- end headshot-->
      <h6 class="mb-0">{{ $user.profile.name }}</h6>
      <p class="mb-0">{{ $user.profile.posts }} posts</p>
      {{ end }}
      {{ end }}
    </div><!-- end col-->

      <div class="col-4">
        {{ $targetIndex := 2 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
        {{ range $index, $user := .Site.Data.users }}
        {{ if eq $index $targetIndex }}
        <div class="headshot mb-2" style="background-image: url('{{ $user.profile.headshot | relURL }}');"></div>
        <!-- end headshot-->
        <h6 class="mb-0">{{ $user.profile.name }}</h6>
        <p class="mb-0">{{ $user.profile.posts }} posts</p>
        {{ end }}
        {{ end }}
      </div><!-- end col-->

  </div><!-- end row-->
  
  </div><!-- end container-->
 
  {{ partial "article-list.html" . }}
  </div><!-- end col right-->

</div><!-- end row -->


</div><!-- end container-->
  </main>

  {{ .Content }}
{{ end }}

