
  {{ define "main" }}
  <main class="" id="content">
    <div class="container-xxl p-3">
      <div class="row">
        <div class="col-lg-9 col-xl-9 col-sm-12">
          <div class="thread border bg-light p-0 m-0 rounded-2">
            <div class="thread__header bg-secondary-subtle p-2">
              {{ $targetIndex := 3 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
              {{ range $index, $user := .Site.Data.users }}
              {{ if eq $index $targetIndex }}
              <div class="row align-items-center justify-content-md-center">
                <div class="col-auto">
                  <div class="headshot mb-0"style="background-image: url('{{ $user.profile.headshot | relURL }}');"></div>
                </div><!-- end col-->
                <div class="col">
                    <!---- start the display of the profile and actual name -->
                    <div class="row justify-content-start align-items-center">
                      <div class="col-auto border-secondary-subtle border-end">
                        <div class="profilename">{{ $user.profile.name }} <div class="actualname">{{$user.profile.actualname }}</div>
                        </div>
                      </div><!-- end column-->
                  
                      <div class="col-auto">
                        <strong>January 1, 2023</strong>
                      </div><!-- end column-->
                    </div><!-- end row-->
                    {{ end }}
                    {{ end }}
                    <!--end the display of the profile and actual name-->
                </div><!-- end col-->
              </div><!-- end row-->
            </div><!-- end thread__header-->

            <div class="thread__body p-3">
              <!-- start of the main post-->
              <h2>Team TN strategy roundtable</h2>
              <p>Alright team, strategy packets were sent in November, if you didn’t receive you should have digital copies in your inbox. Please do readings 1a - 55b ahead of our first strategy summit in Q1. On top of the usual homework, I would like to take this time to share a very vital video with you that Emily and I watch every night. Let’s do this!</p>

                <!-- another video example-->
                <div class="ratio ratio-16x9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/jxcMRkqaQdw?si=RvGVCSO5yPeMtLBa"
                  title="YouTube video player" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen></iframe>
                </div><!-- end video block-->
                <!-- end video example-->
              <!-- end of the main post -->

              <h4 class="text-center mt-3 mb-3">Replies</h4>
              <!---------------------------------Start Thread Reply ----------------------------------->
                <!------- this is the start of a reply block #2 -------->
                <div class="thread__body__reply">
                  {{ $targetIndex := 4 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
                  {{ range $index, $user := .Site.Data.users }}
                  {{ if eq $index $targetIndex }}
                  <div class="row align-items-center justify-content-md-center">
                    <div class="col-auto">
                      <div class="headshot mb-0" style="background-image: url('{{ $user.profile.headshot | relURL }}');"></div>
                    </div><!-- end col-->
                    <div class="col p-0">
                      <!---- start the display of the profile and actual name -->
                      <div class="row justify-content-start align-items-center">
                        <div class="col-auto border-secondary-subtle border-end">
                          <div class="profilename">{{ $user.profile.name }} <div class="actualname">{{$user.profile.actualname }}</div>
                          </div>
                        </div><!-- end column-->
                
                        <div class="col-auto">
                          <span class="fw-light"><em>9 months ago</em></span>
                        </div><!-- end column-->
                      </div><!-- end row-->
                      {{ end }}
                      {{ end }}
                      <!--end the display of the profile and actual name-->
                    </div><!-- end col-->
                  </div><!-- end row-->
                  <div class="thread__body__reply__inner">
                    <p>Letsssss go! Reporting to duty Capn'. Can't wait for the Q1 meeting, want to pick your brain about reading 17b in the packet. My mind is blown! &#129327;</p>
                    <div class="thread__body__likes">
                      <div class="likes-container"><span class="likes"></span> <span>7</span></div><!-- end container-->
                    </div><!-- end likes container-->
                  </div><!-- end reply inner-->
                </div>
                <!-------- this is the end of a reply block #2 --------->

              
              <!-- this is the start of a reply block #1-->
              <div class="thread__body__reply">
                <div class="row align-items-center justify-content-md-center">
                  <div class="col-auto">
                    <div class="headshot mb-0" style="background-image: url('/docs/5.3/assets/img/headshots/random.jpg');"></div>
                  </div><!-- end col-->
                  <div class="col p-0">
                    <!---- start the display of the profile and actual name -->
                    <div class="row justify-content-start align-items-center">
                      <div class="col-auto border-secondary-subtle border-end">
                        <div class="profilename">randomshooterfan901</div>
                      </div><!-- end column-->
                    
                      <div class="col-auto">
                        <span class="fw-light"><em>8 months ago</em></span>
                      </div><!-- end column-->
                    </div><!-- end row-->
                    <!--end the display of the profile and actual name-->
                  </div><!-- end col-->
                </div><!-- end row-->
                <!-------------- start lets go bitches reply inner ------------>
                <div class="thread__body__reply__inner">
                  <p>Wonder if team TN plans to just roll out the same strategy as the last two years?</p>
                  <div class="thread__body__likes">
                    <div class="likes-container"><span class="likes"></span> <span>2</span></div><!-- end container-->
                  </div><!-- end likes container-->
                  <!--------- nested reply Dave laughing GIF -------->
                    <div class="thread__body__reply__nested">
                      <div class="row align-items-center justify-content-md-center">
                        <div class="col-auto">
                          <div class="headshot mb-0" style="background-image: url('/docs/5.3/assets/img/headshots/random.jpg');"></div>
                        </div><!-- end col-->
                        <div class="col p-0">
                          <!---- start the display of the profile and actual name -->
                          <div class="row justify-content-start align-items-center">
                            <div class="col-auto border-secondary-subtle border-end">
                              <div class="profilename">randomfan1</div>
                            </div><!-- end column-->
                        
                            <div class="col-auto">
                              <span class="fw-light"><em>8 months ago</em></span>
                            </div><!-- end column-->
                          </div><!-- end row-->
                          <!--end the display of the profile and actual name-->
                        </div><!-- end col-->
                      </div><!-- end row-->
                      <div class="thread__body__reply__inner">
                        <p>If it aint broke why would they fix it? They have defeated the Podfather and The Dave Bailey non pod/pod system…</p>
                        <div class="thread__body__likes">
                          <div class="likes-container"><span class="likes"></span> <span>100</span></div><!-- end container-->
                        </div><!-- end likes container-->

                            <div class="thread__body__reply__nested">
                              {{ $targetIndex := 3 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
                              {{ range $index, $user := .Site.Data.users }}
                              {{ if eq $index $targetIndex }}
                              <div class="row align-items-center justify-content-md-center">
                                <div class="col-auto">
                                  <div class="headshot mb-0" style="background-image: url('{{ $user.profile.headshot | relURL }}');"></div>
                                </div><!-- end col-->
                                <div class="col p-0">
                                  <!---- start the display of the profile and actual name -->
                                  <div class="row justify-content-start align-items-center">
                                    <div class="col-auto border-secondary-subtle border-end">
                                      <div class="profilename">{{ $user.profile.name }} <div class="actualname">{{$user.profile.actualname }}</div>
                                      </div>
                                    </div><!-- end column-->
                                
                                    <div class="col-auto">
                                      <span class="fw-light"><em>8 months ago</em></span>
                                    </div><!-- end column-->
                                  </div><!-- end row-->
                                  {{ end }}
                                  {{ end }}
                                  <!--end the display of the profile and actual name-->
                                </div><!-- end col-->
                              </div><!-- end row-->
                              <div class="thread__body__reply__inner">
                                <p>Respectfully, we are anti pods in this state.</p>
                                <div class="thread__body__likes">
                                  <div class="likes-container"><span class="likes"></span> <span>7</span></div><!-- end container-->
                                </div><!-- end likes container-->
                              </div><!-- end reply inner-->
                            </div><!-- end reply-->
                            <!-- end nested reply -->

                      </div><!-- end reply inner-->
                    </div><!-- end thread__body__reply__nested-->
                  <!--------- end nested reply Dave laughing GIF ------->
                </div><!-------------- end lets go bitches reply inner ------------>
              </div><!-- this is the end of a reply block #1-->

              <!---------- this is the start of a reply block #2 --------->
              <div class="thread__body__reply">
                <!---- START USER DATA ROW ------>
                  <div class="row align-items-center justify-content-md-center">
                      <div class="col-auto">
                        <div class="headshot mb-0" style="background-image: url('/docs/5.3/assets/img/headshots/random.jpg');"></div>
                      </div><!-- end col-->
                      <div class="col p-0">
                        <!-- start of user name display -->
                        <div class="row justify-content-start align-items-center">
                          <div class="col-auto border-secondary-subtle border-end">
                            definitelynotZack
                          </div><!-- end col auto-->
                          <div class="col-auto">
                            <span class="fw-light"><em>7 months ago</em></span>
                          </div><!-- end column-->
                        </div><!--end row-->
                        <!-- end of user name display -->
                      </div><!-- end col-->
                  </div><!-- end row-->
                <!---- END USER DATA ROW ------>
                
                <!--- START of nested REPLY #1 looks like... --->
                  <div class="thread__body__reply__inner">
                      <p>You gonna try anything new? <span class="tag">@DonTomasino</span></p> 
                            <!---- NESTED REPLY TO LOOKS LIKE SHOOTER iS LEAVING-->
                            <div class="thread__body__reply__nested">
                            {{ $targetIndex := 3 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
                            {{ range $index, $user := .Site.Data.users }}
                            {{ if eq $index $targetIndex }}
                            <div class="row align-items-center justify-content-md-center">
                              <div class="col-auto">
                                <div class="headshot mb-0" style="background-image: url('{{ $user.profile.headshot | relURL }}');"></div>
                              </div><!-- end col-->
                              <div class="col p-0">
                                <!---- start the display of the profile and actual name -->
                                <div class="row justify-content-start align-items-center">
                                  <div class="col-auto border-secondary-subtle border-end">
                                    <div class="profilename">{{ $user.profile.name }} <div class="actualname">{{$user.profile.actualname }}</div>
                                    </div>
                                  </div><!-- end column-->
                            
                                  <div class="col-auto">
                                    <span class="fw-light"><em>7 months ago</em></span>
                                  </div><!-- end column-->
                                </div><!-- end row-->
                                {{ end }}
                                {{ end }}
                                <!--end the display of the profile and actual name-->
                                </div><!-- end col-->
                              </div><!-- end row-->
                              <div class="thread__body__reply__inner">
                                <p>I would have to kill you if I told you. <strong>#TheDon</strong></p>
                                <div class="thread__body__likes">
                                  <div class="likes-container"><span class="likes"></span> <span>12</span></div><!-- end container-->
                                </div><!-- end likes container-->
                              <!---- NESTED REPLY BLOCK -->
                                <div class="thread__body__reply__nested">
                                  <div class="row align-items-center justify-content-md-center">
                                    <div class="col-auto">
                                      <div class="headshot mb-0" style="background-image: url('/docs/5.3/assets/img/headshots/random.jpg');"></div>
                                    </div><!-- end col-->
                                    <div class="col p-0"><!-- start of user name display -->
                                    <div class="row justify-content-start align-items-center">
                                      <div class="col-auto border-secondary-subtle border-end">
                                        randomguy1986
                                      </div><!-- end col auto-->
                                      <div class="col-auto">
                                        <span class="fw-light"><em>7 months ago</em></span>
                                      </div><!-- end column-->
                                    </div><!--end row-->
                                    <!-- end of user name display -->
                                    </div><!-- end col-->
                                  </div><!-- end row-->
                                  <div class="thread__body__reply__inner">
                                    <p>Whoa whoa whoa…easy there, us fans just want to know!</p>
                                    <div class="thread__body__likes">
                                      <div class="likes-container"><span class="likes"></span> <span>7</span></div><!-- end container-->
                                    </div><!-- end likes container-->
                                  </div><!-- end reply inner-->
                                </div><!-- end reply-->
                                <!-- end nested reply BLOCK -->
                            
                                <!----- NESTED REPLY BLOCK of MIGHT WANNA CHECK THOSE FACTS -->
                                    <!---- NESTED REPLY BLOCK -->
                                    <div class="thread__body__reply__nested">
                                      {{ $targetIndex := 3 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
                                      {{ range $index, $user := .Site.Data.users }}
                                      {{ if eq $index $targetIndex }}
                                      <div class="row align-items-center justify-content-md-center">
                                        <div class="col-auto">
                                          <div class="headshot mb-0" style="background-image: url('{{ $user.profile.headshot | relURL }}');"></div>
                                        </div><!-- end col-->
                                        <div class="col p-0">
                                          <!---- start the display of the profile and actual name -->
                                          <div class="row justify-content-start align-items-center">
                                            <div class="col-auto border-secondary-subtle border-end">
                                              <div class="profilename">{{ $user.profile.name }} <div class="actualname">{{$user.profile.actualname }}</div>
                                              </div>
                                            </div><!-- end column-->
                                        
                                            <div class="col-auto">
                                              <span class="fw-light"><em>7 months ago</em></span>
                                            </div><!-- end column-->
                                          </div><!-- end row-->
                                          {{ end }}
                                          {{ end }}
                                          <!--end the display of the profile and actual name-->
                                        </div><!-- end col-->
                                      </div><!-- end row-->
                                      <div class="thread__body__reply__inner">
                                        <p>You’ll know when you know…</p>
                                        <div class="thread__body__likes">
                                          <div class="likes-container"><span class="likes"></span> <span>7</span></div><!-- end container-->
                                        </div><!-- end likes container-->
                                      </div><!-- end reply inner-->
                                    </div><!-- end reply-->
                                    <!-- end nested reply BLOCK -->

                                    <!---- NESTED REPLY BLOCK -->
                                    <div class="thread__body__reply__nested">
                                      {{ $targetIndex := 3 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
                                      {{ range $index, $user := .Site.Data.users }}
                                      {{ if eq $index $targetIndex }}
                                      <div class="row align-items-center justify-content-md-center">
                                        <div class="col-auto">
                                          <div class="headshot mb-0" style="background-image: url('/docs/5.3/assets/img/headshots/random.jpg');"></div>
                                        </div><!-- end col-->
                                        <div class="col p-0">
                                          <!---- start the display of the profile and actual name -->
                                          <div class="row justify-content-start align-items-center">
                                            <div class="col-auto border-secondary-subtle border-end">
                                              <div class="profilename">randomguy1986</div>
                                            </div><!-- end column-->
                                        
                                            <div class="col-auto">
                                              <span class="fw-light"><em>7 months ago</em></span>
                                            </div><!-- end column-->
                                          </div><!-- end row-->
                                          {{ end }}
                                          {{ end }}
                                          <!--end the display of the profile and actual name-->
                                        </div><!-- end col-->
                                      </div><!-- end row-->
                                      <div class="thread__body__reply__inner">
                                        <p><img src="https://media.giphy.com/media/3owzW5c1tPq63MPmWk/giphy.gif" class="img-fluid"></p>
                                          <div class="thread__body__likes">
                                          <div class="likes-container"><span class="likes"></span> <span>2</span></div><!-- end container-->
                                        </div><!-- end likes container-->
                                            <!----- NESTED REPLY TO MASON DIXON LINE-->
                                            <!---- NESTED REPLY BLOCK -->
                                            <div class="thread__body__reply__nested">
                                              {{ $targetIndex := 3 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
                                              {{ range $index, $user := .Site.Data.users }}
                                              {{ if eq $index $targetIndex }}
                                              <div class="row align-items-center justify-content-md-center">
                                                <div class="col-auto">
                                                  <div class="headshot mb-0" style="background-image: url('{{ $user.profile.headshot | relURL }}');"></div>
                                                </div><!-- end col-->
                                                <div class="col p-0">
                                                  <!---- start the display of the profile and actual name -->
                                                  <div class="row justify-content-start align-items-center">
                                                    <div class="col-auto border-secondary-subtle border-end">
                                                      <div class="profilename">{{ $user.profile.name }} <div class="actualname">{{$user.profile.actualname }}</div>
                                                      </div>
                                                    </div><!-- end column-->
                                                
                                                    <div class="col-auto">
                                                      <span class="fw-light"><em>7 months ago</em></span>
                                                    </div><!-- end column-->
                                                  </div><!-- end row-->
                                                  {{ end }}
                                                  {{ end }}
                                                  <!--end the display of the profile and actual name-->
                                                </div><!-- end col-->
                                              </div><!-- end row-->
                                              <div class="thread__body__reply__inner">
                                                <p>Exactly.</p>
                                                <div class="thread__body__likes">
                                                  <div class="likes-container"><span class="likes"></span> <span>7</span></div><!-- end container-->
                                                </div><!-- end likes container-->
                                              </div><!-- end reply inner-->
                                            </div><!-- end reply-->
                                            <!-- end nested reply BLOCK -->

                                            <!---- NESTED REPLY BLOCK -->
                                            <div class="thread__body__reply__nested">
                                              {{ $targetIndex := 3 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
                                              {{ range $index, $user := .Site.Data.users }}
                                              {{ if eq $index $targetIndex }}
                                              <div class="row align-items-center justify-content-md-center">
                                                <div class="col-auto">
                                                  <div class="headshot mb-0" style="background-image: url('/docs/5.3/assets/img/headshots/random.jpg');"></div>
                                                </div><!-- end col-->
                                                <div class="col p-0">
                                                  <!---- start the display of the profile and actual name -->
                                                  <div class="row justify-content-start align-items-center">
                                                    <div class="col-auto border-secondary-subtle border-end">
                                                      <div class="profilename">randomfan1</div>
                                                    </div><!-- end column-->
                                            
                                                    <div class="col-auto">
                                                      <span class="fw-light"><em>7 months ago</em></span>
                                                    </div><!-- end column-->
                                                  </div><!-- end row-->
                                                  {{ end }}
                                                  {{ end }}
                                                  <!--end the display of the profile and actual name-->
                                                </div><!-- end col-->
                                              </div><!-- end row-->
                                              <div class="thread__body__reply__inner">
                                                <p><img src="https://media.giphy.com/media/8v6Z3YyULB5Q0Skbac/giphy.gif" class="img-fluid"></p>
                                                <div class="thread__body__likes">
                                                  <div class="likes-container"><span class="likes"></span> <span>16</span></div><!-- end container-->
                                                </div><!-- end likes container-->
                                              </div><!-- end reply inner-->
                                            </div><!-- end reply-->
                                            <!-- end nested reply BLOCK -->
                                            <!----- END NESTED REPLY TO MASON DIXON LINE-->


                                      </div><!-- end reply inner-->
                                    </div><!-- end reply-->
                                    <!-- end nested reply BLOCK -->
                                    
                                <!----- END NESTED REPLY BLOCK of MIGHT WANNA CHECK THOSE FACTS -->
                              </div><!-- end reply inner MIGHT WANNA CHECK THOSE FACTS-->

                            </div><!-- end thread__body__reply__nested-->
                            <!----END NESTED REPLY TO LOOKS LIKE SHOOTER IS LEAVING-->

                  </div><!----- END thread__body nested reply #1 Looks like ----->
              </div><!-------- this is the end of a reply block #2 ------>

                  <!---------- this is the start of a reply block #3 --------->
                  <div class="thread__body__reply">
                    <!---- START USER DATA ROW ------>
                    {{ $targetIndex := 2 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
                    {{ range $index, $user := .Site.Data.users }}
                    {{ if eq $index $targetIndex }}
                    <div class="row align-items-center justify-content-md-center">
                      <div class="col-auto">
                        <div class="headshot mb-0" style="background-image: url('{{ $user.profile.headshot | relURL }}');"></div>
                      </div><!-- end col-->
                      <div class="col p-0">
                        <!---- start the display of the profile and actual name -->
                        <div class="row justify-content-start align-items-center">
                          <div class="col-auto border-secondary-subtle border-end">
                            <div class="profilename">{{ $user.profile.name }} <div class="actualname">{{$user.profile.actualname }}</div>
                            </div>
                          </div><!-- end column-->
                      
                          <div class="col-auto">
                            <span class="fw-light"><em>4 months ago</em></span>
                          </div><!-- end column-->
                        </div><!-- end row-->
                        {{ end }}
                        {{ end }}
                        <!--end the display of the profile and actual name-->
                      </div><!-- end col-->
                    </div><!-- end row-->
                    <!---- END USER DATA ROW ------>
                  
                    <!--- START of nested REPLY #1 looks like... --->
                    <div class="thread__body__reply__inner">
                      <p>Guys, we trust The Don, so should you… we aint coming home empty handed</p>
                      <!---- NESTED REPLY TO LOOKS LIKE SHOOTER iS LEAVING-->
                      <div class="thread__body__reply__nested">
                        <!---- START USER DATA ROW ------>
                        {{ $targetIndex := 7 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
                        {{ range $index, $user := .Site.Data.users }}
                        {{ if eq $index $targetIndex }}
                        <div class="row align-items-center justify-content-md-center">
                          <div class="col-auto">
                            <div class="headshot mb-0" style="background-image: url('{{ $user.profile.headshot | relURL }}');"></div>
                          </div><!-- end col-->
                          <div class="col p-0">
                            <!---- start the display of the profile and actual name -->
                            <div class="row justify-content-start align-items-center">
                              <div class="col-auto border-secondary-subtle border-end">
                                <div class="profilename">{{ $user.profile.name }} <div class="actualname">{{$user.profile.actualname }}</div>
                                </div>
                              </div><!-- end column-->
                          
                              <div class="col-auto">
                                <span class="fw-light"><em>4 months ago</em></span>
                              </div><!-- end column-->
                            </div><!-- end row-->
                            {{ end }}
                            {{ end }}
                            <!--end the display of the profile and actual name-->
                          </div><!-- end col-->
                        </div><!-- end row-->
                        <div class="thread__body__reply__inner">
                          <p>Or emptied shouldered…</p>
                          <p><img src="/docs/5.3/assets/img/MVP-2023.jpg" class="img-fluid" width="300"></p>
                          <div class="thread__body__likes">
                            <div class="likes-container"><span class="likes"></span> <span>12</span></div><!-- end container-->
                          </div><!-- end likes container-->
                          <!---- NESTED REPLY BLOCK -->
                          <div class="thread__body__reply__nested">
                            <!---- START USER DATA ROW ------>
                            {{ $targetIndex := 5 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
                            {{ range $index, $user := .Site.Data.users }}
                            {{ if eq $index $targetIndex }}
                            <div class="row align-items-center justify-content-md-center">
                              <div class="col-auto">
                                <div class="headshot mb-0" style="background-image: url('{{ $user.profile.headshot | relURL }}');"></div>
                              </div><!-- end col-->
                              <div class="col p-0">
                                <!---- start the display of the profile and actual name -->
                                <div class="row justify-content-start align-items-center">
                                  <div class="col-auto border-secondary-subtle border-end">
                                    <div class="profilename">{{ $user.profile.name }} <div class="actualname">{{$user.profile.actualname }}</div>
                                    </div>
                                  </div><!-- end column-->
                              
                                  <div class="col-auto">
                                    <span class="fw-light"><em>4 months ago</em></span>
                                  </div><!-- end column-->
                                </div><!-- end row-->
                                {{ end }}
                                {{ end }}
                                <!--end the display of the profile and actual name-->
                              </div><!-- end col-->
                            </div><!-- end row-->
                            <div class="thread__body__reply__inner">
                              <p>HEYYYOOO</p>
                              <div class="thread__body__likes">
                                <div class="likes-container"><span class="likes"></span> <span>7</span></div><!-- end container-->
                              </div><!-- end likes container-->
                            </div><!-- end reply inner-->
                          </div><!-- end reply-->
                          <!-- end nested reply BLOCK -->

                          <!----- NESTED REPLY BLOCK of MIGHT WANNA CHECK THOSE FACTS -->
                          <!---- NESTED REPLY BLOCK -->
                          <div class="thread__body__reply__nested">
                            {{ $targetIndex := 1 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
                            {{ range $index, $user := .Site.Data.users }}
                            {{ if eq $index $targetIndex }}
                            <div class="row align-items-center justify-content-md-center">
                              <div class="col-auto">
                                <div class="headshot mb-0" style="background-image: url('{{ $user.profile.headshot | relURL }}');"></div>
                              </div><!-- end col-->
                              <div class="col p-0">
                                <!---- start the display of the profile and actual name -->
                                <div class="row justify-content-start align-items-center">
                                  <div class="col-auto border-secondary-subtle border-end">
                                    <div class="profilename">{{ $user.profile.name }} <div class="actualname">{{$user.profile.actualname }}</div>
                                    </div>
                                  </div><!-- end column-->
                              
                                  <div class="col-auto">
                                    <span class="fw-light"><em>4 months ago</em></span>
                                  </div><!-- end column-->
                                </div><!-- end row-->
                                {{ end }}
                                {{ end }}
                                <!--end the display of the profile and actual name-->
                              </div><!-- end col-->
                            </div><!-- end row-->
                            <div class="thread__body__reply__inner">
                              <p>WOOO!</p>
                              <div class="thread__body__likes">
                                <div class="likes-container"><span class="likes"></span> <span>7</span></div><!-- end container-->
                              </div><!-- end likes container-->
                            </div><!-- end reply inner-->
                          </div><!-- end reply-->
                          <!-- end nested reply BLOCK -->
                  
                          <!---- NESTED REPLY BLOCK -->
                          <div class="thread__body__reply__nested">
                            {{ $targetIndex := 6 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
                            {{ range $index, $user := .Site.Data.users }}
                            {{ if eq $index $targetIndex }}
                            <div class="row align-items-center justify-content-md-center">
                              <div class="col-auto">
                                <div class="headshot mb-0" style="background-image: url('{{ $user.profile.headshot | relURL }}');"></div>
                              </div><!-- end col-->
                              <div class="col p-0">
                                <!---- start the display of the profile and actual name -->
                                <div class="row justify-content-start align-items-center">
                                  <div class="col-auto border-secondary-subtle border-end">
                                    <div class="profilename">{{ $user.profile.name }} <div class="actualname">{{$user.profile.actualname }}</div>
                                    </div>
                                  </div><!-- end column-->
                              
                                  <div class="col-auto">
                                    <span class="fw-light"><em>4 months ago</em></span>
                                  </div><!-- end column-->
                                </div><!-- end row-->
                                {{ end }}
                                {{ end }}
                                <!--end the display of the profile and actual name-->
                              </div><!-- end col-->
                            </div><!-- end row-->
                            <div class="thread__body__reply__inner">
                              <p><img src="https://media.giphy.com/media/3lIgOk4Gjfptu/giphy.gif" class="img-fluid"></p>
                              <div class="thread__body__likes">
                                <div class="likes-container"><span class="likes"></span> <span>7</span></div><!-- end container-->
                              </div><!-- end likes container-->
                  
                            </div><!-- end reply inner-->
                          </div><!-- end reply-->
                          <!-- end nested reply BLOCK -->

                          <!---- NESTED REPLY BLOCK -->
                          <div class="thread__body__reply__nested">
                            {{ $targetIndex := 0 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
                            {{ range $index, $user := .Site.Data.users }}
                            {{ if eq $index $targetIndex }}
                            <div class="row align-items-center justify-content-md-center">
                              <div class="col-auto">
                                <div class="headshot mb-0" style="background-image: url('{{ $user.profile.headshot | relURL }}');"></div>
                              </div><!-- end col-->
                              <div class="col p-0">
                                <!---- start the display of the profile and actual name -->
                                <div class="row justify-content-start align-items-center">
                                  <div class="col-auto border-secondary-subtle border-end">
                                    <div class="profilename">{{ $user.profile.name }} <div class="actualname">{{$user.profile.actualname }}</div>
                                    </div>
                                  </div><!-- end column-->
                              
                                  <div class="col-auto">
                                    <span class="fw-light"><em>3 months ago</em></span>
                                  </div><!-- end column-->
                                </div><!-- end row-->
                                {{ end }}
                                {{ end }}
                                <!--end the display of the profile and actual name-->
                              </div><!-- end col-->
                            </div><!-- end row-->
                            <div class="thread__body__reply__inner">
                              <p>Hail State!</p>
                              <div class="thread__body__likes">
                                <div class="likes-container"><span class="likes"></span> <span>7</span></div><!-- end container-->
                              </div><!-- end likes container-->
                          
                            </div><!-- end reply inner-->
                          </div><!-- end reply-->
                          <!-- end nested reply BLOCK -->

                          <!---- NESTED REPLY BLOCK -->
                          <div class="thread__body__reply__nested">
                            {{ $targetIndex := 3 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
                            {{ range $index, $user := .Site.Data.users }}
                            {{ if eq $index $targetIndex }}
                            <div class="row align-items-center justify-content-md-center">
                              <div class="col-auto">
                                <div class="headshot mb-0" style="background-image: url('{{ $user.profile.headshot | relURL }}');"></div>
                              </div><!-- end col-->
                              <div class="col p-0">
                                <!---- start the display of the profile and actual name -->
                                <div class="row justify-content-start align-items-center">
                                  <div class="col-auto border-secondary-subtle border-end">
                                    <div class="profilename">{{ $user.profile.name }} <div class="actualname">{{$user.profile.actualname }}</div>
                                    </div>
                                  </div><!-- end column-->
                              
                                  <div class="col-auto">
                                    <span class="fw-light"><em>1 month ago</em></span>
                                  </div><!-- end column-->
                                </div><!-- end row-->
                                {{ end }}
                                {{ end }}
                                <!--end the display of the profile and actual name-->
                              </div><!-- end col-->
                            </div><!-- end row-->
                            <div class="thread__body__reply__inner">
                              <p><img src="/docs/5.3/assets/img/trust-process.jpg" class="img-fluid" width="300"></p>
                              <div class="thread__body__likes">
                                <div class="likes-container"><span class="likes"></span> <span>15</span></div><!-- end container-->
                              </div><!-- end likes container-->
                          
                            </div><!-- end reply inner-->
                          </div><!-- end reply-->
                          <!-- end nested reply BLOCK -->

                          <!----- END NESTED REPLY BLOCK of MIGHT WANNA CHECK THOSE FACTS -->
                        </div><!-- end reply inner MIGHT WANNA CHECK THOSE FACTS-->
                  
                      </div><!-- end thread__body__reply__nested-->
                      <!----END NESTED REPLY TO LOOKS LIKE SHOOTER IS LEAVING-->
                  
                    </div><!----- END thread__body nested reply #1 Looks like ----->
                  </div><!-------- this is the end of a reply block #5 ------>





              <!---------------------------------End Thread Reply ----------------------------------->
            </div><!-- end MAIN THREAD body-->
          </div><!--------- THIS ENDS THE ENTIRE THREAD --------->
        </div><!-- THIS ends the column for the thread-->



        <!-- start the sidebar-->
        <div class="col-lg-3 col-xl-3 col-sm-12">
            {{ partial "sidebar.html" . }}
        </div><!-- end sidebar-->

      </div><!--end row-->
    </div><!-- end container -->

    {{ .Content }}
  </main>
  {{ end }}