
  {{ define "main" }}
  <main class="" id="content">
    <div class="container-xxl p-3">
      <div class="row">
        <div class="col-lg-9 col-xl-9 col-md-9 col-sm-12 mb-3">
          <div class="thread border p-0 m-0 rounded-2">
            <div class="thread__header bg-secondary-subtle p-2">
              {{ $targetIndex := 6 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
              {{ range $index, $user := .Site.Data.users }}
              {{ if eq $index $targetIndex }}
              <div class="row align-items-center justify-content-md-center">
                <div class="col-auto">
                  <div class="headshot mb-0"style="background-image: url('{{ $user.profile.headshot | relURL }}');"></div>
                </div><!-- end col-->
                <div class="col">
                    <!---- start the display of the profile and actual name -->
                    <div class="row justify-content-start align-items-center">
                      <div class="col-auto border-secondary-subtle border-end">
                        <div class="profilename">{{ $user.profile.name }} <div class="actualname">{{$user.profile.actualname }}</div>
                        </div>
                      </div><!-- end column-->
                  
                      <div class="col-auto">
                        <strong>Sep 24, 2023</strong>
                      </div><!-- end column-->
                    </div><!-- end row-->
                    {{ end }}
                    {{ end }}
                    <!--end the display of the profile and actual name-->
                </div><!-- end col-->
              </div><!-- end row-->
            </div><!-- end thread__header-->

            <div class="thread__body p-3">
              <!-- start of the main post-->
              <h2>Shooter X</h2>
              <p>Fellas, welcome to Shooter X. This year starts with a new location and an opportunity to be one of the most memorable
              Shooters ever. This website is a collection of past, present, and future. Let’s get this shit started by watching the
              video below.</p>

                <!-- another video example-->
                <div class="ratio ratio-16x9">
                  <video width="1200" height="675" controls>
                    <source src="/docs/5.3/assets/img/videos/shooter-hype.mp4" type="video/mp4">
                    <source src="movie.ogg" type="video/ogg">
                    Your browser does not support the video tag.
                  </video>
                </div><!-- end video block-->
                <!-- end video example-->
              <!-- end of the main post -->

              <h4 class="text-center mt-3 mb-3">Replies</h4>
              <!---------------------------------Start Thread Reply ----------------------------------->
              <!-- this is the start of a reply block #1-->
              <div class="thread__body__reply">
                {{ $targetIndex := 1 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
                {{ range $index, $user := .Site.Data.users }}
                {{ if eq $index $targetIndex }}
                <div class="row align-items-center justify-content-md-center">
                  <div class="col-auto">
                    <div class="headshot mb-0" style="background-image: url('{{ $user.profile.headshot | relURL }}');"></div>
                  </div><!-- end col-->
                  <div class="col p-0">
                    <!---- start the display of the profile and actual name -->
                    <div class="row justify-content-start align-items-center">
                      <div class="col-auto border-secondary-subtle border-end">
                        <div class="profilename">{{ $user.profile.name }} <div class="actualname">{{$user.profile.actualname }}</div>
                        </div>
                      </div><!-- end column-->
                    
                      <div class="col-auto">
                        <span class="fw-light"><em>6 hours ago</em></span>
                      </div><!-- end column-->
                    </div><!-- end row-->
                    {{ end }}
                    {{ end }}
                    <!--end the display of the profile and actual name-->
                  </div><!-- end col-->
                </div><!-- end row-->
                <!-------------- start lets go bitches reply inner ------------>
                <div class="thread__body__reply__inner">
                  <p>Let’s go bitches! SIP is so screwed.</p>
                  <div class="thread__body__likes">
                    <div class="likes-container"><span class="likes"></span> <span>22</span></div><!-- end container-->
                  </div><!-- end likes container-->
                  <!--------- nested reply Dave laughing GIF -------->
                    <div class="thread__body__reply__nested">
                      {{ $targetIndex := 12 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
                      {{ range $index, $user := .Site.Data.users }}
                      {{ if eq $index $targetIndex }}
                      <div class="row align-items-center justify-content-md-center">
                        <div class="col-auto">
                          <div class="headshot mb-0" style="background-image: url('{{ $user.profile.headshot | relURL }}');"></div>
                        </div><!-- end col-->
                        <div class="col p-0">
                          <!---- start the display of the profile and actual name -->
                          <div class="row justify-content-start align-items-center">
                            <div class="col-auto border-secondary-subtle border-end">
                              <div class="profilename">{{ $user.profile.name }} <div class="actualname">{{$user.profile.actualname }}</div>
                              </div>
                            </div><!-- end column-->
                        
                            <div class="col-auto">
                              <span class="fw-light"><em>3 hours ago</em></span>
                            </div><!-- end column-->
                          </div><!-- end row-->
                          {{ end }}
                          {{ end }}
                          <!--end the display of the profile and actual name-->
                        </div><!-- end col-->
                      </div><!-- end row-->
                      <div class="thread__body__reply__inner">
                        <p><img src="https://media.giphy.com/media/gj0QdZ9FgqGhOBNlFS/giphy.gif" class="img-fluid"/></p>
                        <div class="thread__body__likes">
                          <div class="likes-container"><span class="likes"></span> <span>12</span></div><!-- end container-->
                        </div><!-- end likes container-->

                            <div class="thread__body__reply__nested">
                              {{ $targetIndex := 14 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
                              {{ range $index, $user := .Site.Data.users }}
                              {{ if eq $index $targetIndex }}
                              <div class="row align-items-center justify-content-md-center">
                                <div class="col-auto">
                                  <div class="headshot mb-0" style="background-image: url('{{ $user.profile.headshot | relURL }}');"></div>
                                </div><!-- end col-->
                                <div class="col p-0">
                                  <!---- start the display of the profile and actual name -->
                                  <div class="row justify-content-start align-items-center">
                                    <div class="col-auto border-secondary-subtle border-end">
                                      <div class="profilename">{{ $user.profile.name }} <div class="actualname">{{$user.profile.actualname }}</div>
                                      </div>
                                    </div><!-- end column-->
                                
                                    <div class="col-auto">
                                      <span class="fw-light"><em>2 hours ago</em></span>
                                    </div><!-- end column-->
                                  </div><!-- end row-->
                                  {{ end }}
                                  {{ end }}
                                  <!--end the display of the profile and actual name-->
                                </div><!-- end col-->
                              </div><!-- end row-->
                              <div class="thread__body__reply__inner">
                                <p>Read my mind Dave. These boys don't know what is coming</p>
                                <div class="thread__body__likes">
                                  <div class="likes-container"><span class="likes"></span> <span>7</span></div><!-- end container-->
                                </div><!-- end likes container-->
                              </div><!-- end reply inner-->
                            </div><!-- end reply-->
                            <!-- end nested reply -->

                      </div><!-- end reply inner-->
                    </div><!-- end thread__body__reply__nested-->
                  <!--------- end nested reply Dave laughing GIF ------->
                </div><!-------------- end lets go bitches reply inner ------------>
              </div><!-- this is the end of a reply block #1-->
            
              <!------- this is the start of a reply block #2 -------->
              <div class="thread__body__reply">
                {{ $targetIndex := 7 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
                {{ range $index, $user := .Site.Data.users }}
                {{ if eq $index $targetIndex }}
                <div class="row align-items-center justify-content-md-center">
                  <div class="col-auto">
                    <div class="headshot mb-0" style="background-image: url('{{ $user.profile.headshot | relURL }}');"></div>
                  </div><!-- end col-->
                  <div class="col p-0">
                    <!---- start the display of the profile and actual name -->
                    <div class="row justify-content-start align-items-center">
                      <div class="col-auto border-secondary-subtle border-end">
                        <div class="profilename">{{ $user.profile.name }} <div class="actualname">{{$user.profile.actualname }}</div>
                        </div>
                      </div><!-- end column-->
                  
                      <div class="col-auto">
                        <span class="fw-light"><em>4 hours ago</em></span>
                      </div><!-- end column-->
                    </div><!-- end row-->
                    {{ end }}
                    {{ end }}
                    <!--end the display of the profile and actual name-->
                  </div><!-- end col-->
                </div><!-- end row-->
                <div class="thread__body__reply__inner">
                  <p><img src="https://media.giphy.com/media/gSl7e703puA6tSSfqW/giphy.gif" class="img-fluid" /></p>
                  <div class="thread__body__likes">
                    <div class="likes-container"><span class="likes"></span> <span>7</span></div><!-- end container-->
                  </div><!-- end likes container-->
                </div><!-- end reply inner-->
              </div>
              <!-------- this is the end of a reply block #2 --------->

              <!---------- this is the start of a reply block #3 --------->
              <div class="thread__body__reply">
                <!---- START USER DATA ROW ------>
                  <div class="row align-items-center justify-content-md-center">
                      <div class="col-auto">
                        <div class="headshot mb-0" style="background-image: url('/docs/5.3/assets/img/headshots/random.jpg');"></div>
                      </div><!-- end col-->
                      <div class="col p-0">
                        <!-- start of user name display -->
                        <div class="row justify-content-start align-items-center">
                          <div class="col-auto border-secondary-subtle border-end">
                            randomuser901
                          </div><!-- end col auto-->
                          <div class="col-auto">
                            <span class="fw-light"><em>6 hours ago</em></span>
                          </div><!-- end column-->
                        </div><!--end row-->
                        <!-- end of user name display -->
                      </div><!-- end col-->
                  </div><!-- end row-->
                <!---- END USER DATA ROW ------>
                
                <!--- START of nested REPLY #1 looks like... --->
                  <div class="thread__body__reply__inner">
                      <p>Looks like The Shooter is leaving the state of MS and headed to TN!</p>
                            <!---- NESTED REPLY TO LOOKS LIKE SHOOTER iS LEAVING-->
                            <div class="thread__body__reply__nested">
                              <div class="row align-items-center justify-content-md-center">
                                <div class="col-auto">
                                  <div class="headshot mb-0" style="background-image: url('/docs/5.3/assets/img/headshots/random.jpg');"></div>
                                </div><!-- end col-->
                                <div class="col p-0"> 
                                  <!-- start of user name display -->
                                  <div class="row justify-content-start align-items-center">
                                    <div class="col-auto border-secondary-subtle border-end">
                                      rando6969
                                      </div><!-- end col auto-->
                                    <div class="col-auto">
                                      <span class="fw-light"><em>6 hours ago</em></span>
                                    </div><!-- end column-->
                                    </div><!--end row-->
                                  <!-- end of user name display -->
                                </div><!-- end col-->
                              </div><!-- end row-->
                              <div class="thread__body__reply__inner">
                                <p>Might wanna check those facts, seems like they chose some place in Georgia? McLemore?</p>
                                <div class="thread__body__likes">
                                  <div class="likes-container"><span class="likes"></span> <span>12</span></div><!-- end container-->
                                </div><!-- end likes container-->
                              <!---- NESTED REPLY BLOCK -->
                                <div class="thread__body__reply__nested">
                                  <div class="row align-items-center justify-content-md-center">
                                    <div class="col-auto">
                                      <div class="headshot mb-0" style="background-image: url('/docs/5.3/assets/img/headshots/random.jpg');"></div>
                                    </div><!-- end col-->
                                    <div class="col p-0"><!-- start of user name display -->
                                    <div class="row justify-content-start align-items-center">
                                      <div class="col-auto border-secondary-subtle border-end">
                                        randomguy1986
                                      </div><!-- end col auto-->
                                      <div class="col-auto">
                                        <span class="fw-light"><em>6 hours ago</em></span>
                                      </div><!-- end column-->
                                    </div><!--end row-->
                                    <!-- end of user name display -->
                                    </div><!-- end col-->
                                  </div><!-- end row-->
                                  <div class="thread__body__reply__inner">
                                    <p>Wait what? Thought team TN was trying to get a home field advantage…</p>
                                    <div class="thread__body__likes">
                                      <div class="likes-container"><span class="likes"></span> <span>7</span></div><!-- end container-->
                                    </div><!-- end likes container-->
                                  </div><!-- end reply inner-->
                                </div><!-- end reply-->
                                <!-- end nested reply BLOCK -->
                            
                                <!----- NESTED REPLY BLOCK of MIGHT WANNA CHECK THOSE FACTS -->
                                    <!---- NESTED REPLY BLOCK -->
                                    <div class="thread__body__reply__nested">
                                      {{ $targetIndex := 6 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
                                      {{ range $index, $user := .Site.Data.users }}
                                      {{ if eq $index $targetIndex }}
                                      <div class="row align-items-center justify-content-md-center">
                                        <div class="col-auto">
                                          <div class="headshot mb-0" style="background-image: url('{{ $user.profile.headshot | relURL }}');"></div>
                                        </div><!-- end col-->
                                        <div class="col p-0">
                                          <!---- start the display of the profile and actual name -->
                                          <div class="row justify-content-start align-items-center">
                                            <div class="col-auto border-secondary-subtle border-end">
                                              <div class="profilename">{{ $user.profile.name }} <div class="actualname">{{$user.profile.actualname }}</div>
                                              </div>
                                            </div><!-- end column-->
                                        
                                            <div class="col-auto">
                                              <span class="fw-light"><em>6 hours ago</em></span>
                                            </div><!-- end column-->
                                          </div><!-- end row-->
                                          {{ end }}
                                          {{ end }}
                                          <!--end the display of the profile and actual name-->
                                        </div><!-- end col-->
                                      </div><!-- end row-->
                                      <div class="thread__body__reply__inner">
                                        <p>Technically it’s in Georgia, but it’s close enough to TN…Plus those MS guys can’t read a map or state lines…</p>
                                        <div class="thread__body__likes">
                                          <div class="likes-container"><span class="likes"></span> <span>7</span></div><!-- end container-->
                                        </div><!-- end likes container-->
                                      </div><!-- end reply inner-->
                                    </div><!-- end reply-->
                                    <!-- end nested reply BLOCK -->

                                    <!---- NESTED REPLY BLOCK -->
                                    <div class="thread__body__reply__nested">
                                      {{ $targetIndex := 3 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
                                      {{ range $index, $user := .Site.Data.users }}
                                      {{ if eq $index $targetIndex }}
                                      <div class="row align-items-center justify-content-md-center">
                                        <div class="col-auto">
                                          <div class="headshot mb-0" style="background-image: url('{{ $user.profile.headshot | relURL }}');"></div>
                                        </div><!-- end col-->
                                        <div class="col p-0">
                                          <!---- start the display of the profile and actual name -->
                                          <div class="row justify-content-start align-items-center">
                                            <div class="col-auto border-secondary-subtle border-end">
                                              <div class="profilename">{{ $user.profile.name }} <div class="actualname">{{$user.profile.actualname }}</div>
                                              </div>
                                            </div><!-- end column-->
                                        
                                            <div class="col-auto">
                                              <span class="fw-light"><em>2 hours ago</em></span>
                                            </div><!-- end column-->
                                          </div><!-- end row-->
                                          {{ end }}
                                          {{ end }}
                                          <!--end the display of the profile and actual name-->
                                        </div><!-- end col-->
                                      </div><!-- end row-->
                                      <div class="thread__body__reply__inner">
                                        <p>Yeah they don’t recognize anything above the Mason Dixon line anyways</p>
                                        <div class="thread__body__likes">
                                          <div class="likes-container"><span class="likes"></span> <span>7</span></div><!-- end container-->
                                        </div><!-- end likes container-->
                                            <!----- NESTED REPLY TO MASON DIXON LINE-->
                                            <!---- NESTED REPLY BLOCK -->
                                            <div class="thread__body__reply__nested">
                                              {{ $targetIndex := 17 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
                                              {{ range $index, $user := .Site.Data.users }}
                                              {{ if eq $index $targetIndex }}
                                              <div class="row align-items-center justify-content-md-center">
                                                <div class="col-auto">
                                                  <div class="headshot mb-0" style="background-image: url('{{ $user.profile.headshot | relURL }}');"></div>
                                                </div><!-- end col-->
                                                <div class="col p-0">
                                                  <!---- start the display of the profile and actual name -->
                                                  <div class="row justify-content-start align-items-center">
                                                    <div class="col-auto border-secondary-subtle border-end">
                                                      <div class="profilename">{{ $user.profile.name }} <div class="actualname">{{$user.profile.actualname }}</div>
                                                      </div>
                                                    </div><!-- end column-->
                                                
                                                    <div class="col-auto">
                                                      <span class="fw-light"><em>6 hours ago</em></span>
                                                    </div><!-- end column-->
                                                  </div><!-- end row-->
                                                  {{ end }}
                                                  {{ end }}
                                                  <!--end the display of the profile and actual name-->
                                                </div><!-- end col-->
                                              </div><!-- end row-->
                                              <div class="thread__body__reply__inner">
                                                <p>Damn right!</p>
                                                <div class="alert alert-danger" role="alert">
                                               <em>This post has been reported by ClintCowan849 for inappropriate content.</em></div>
                                                <div class="thread__body__likes">
                                                  <div class="likes-container"><span class="likes"></span> <span>7</span></div><!-- end container-->
                                                </div><!-- end likes container-->
                                              </div><!-- end reply inner-->
                                            </div><!-- end reply-->
                                            <!-- end nested reply BLOCK -->
                                            <!----- END NESTED REPLY TO MASON DIXON LINE-->
                                      </div><!-- end reply inner-->
                                    </div><!-- end reply-->
                                    <!-- end nested reply BLOCK -->
                                    
                                <!----- END NESTED REPLY BLOCK of MIGHT WANNA CHECK THOSE FACTS -->
                              </div><!-- end reply inner MIGHT WANNA CHECK THOSE FACTS-->

                            </div><!-- end thread__body__reply__nested-->
                            <!----END NESTED REPLY TO LOOKS LIKE SHOOTER IS LEAVING-->

                  </div><!----- END thread__body nested reply #1 Looks like ----->
              </div><!-------- this is the end of a reply block #3 ------>

                <!---------- this is the start of a reply block #4 --------->
                <div class="thread__body__reply">
                  <!---- START USER DATA ROW ------>
                  <div class="row align-items-center justify-content-md-center">
                    <div class="col-auto">
                      <div class="headshot mb-0" style="background-image: url('/docs/5.3/assets/img/headshots/random.jpg');"></div>
                    </div><!-- end col-->
                    <div class="col p-0">
                      <!-- start of user name display -->
                      <div class="row justify-content-start align-items-center">
                        <div class="col-auto border-secondary-subtle border-end">
                          randomuser4593
                        </div><!-- end col auto-->
                        <div class="col-auto">
                          <span class="fw-light"><em>6 hours ago</em></span>
                        </div><!-- end column-->
                      </div><!--end row-->
                      <!-- end of user name display -->
                    </div><!-- end col-->
                  </div><!-- end row-->
                  <!---- END USER DATA ROW ------>
                
                  <!--- START of nested REPLY #1 looks like... --->
                  <div class="thread__body__reply__inner">
                    <p>This course looks sick! Golf Digest ranks the 18th hole as one of the best finishing holes in the country!!</p>
                      <img src="/docs/5.3/assets/img/18-hole.jpg" class="img-fluid"/>
                    </p>
                  </div><!----- END thread__body nested reply #1 Looks like ----->
                </div><!-------- this is the end of a reply block #4 ------>

                  <!---------- this is the start of a reply block #5 --------->
                  <div class="thread__body__reply">
                    <!---- START USER DATA ROW ------>
                    {{ $targetIndex := 1 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
                    {{ range $index, $user := .Site.Data.users }}
                    {{ if eq $index $targetIndex }}
                    <div class="row align-items-center justify-content-md-center">
                      <div class="col-auto">
                        <div class="headshot mb-0" style="background-image: url('{{ $user.profile.headshot | relURL }}');"></div>
                      </div><!-- end col-->
                      <div class="col p-0">
                        <!---- start the display of the profile and actual name -->
                        <div class="row justify-content-start align-items-center">
                          <div class="col-auto border-secondary-subtle border-end">
                            <div class="profilename">{{ $user.profile.name }} <div class="actualname">{{$user.profile.actualname }}</div>
                            </div>
                          </div><!-- end column-->
                      
                          <div class="col-auto">
                            <span class="fw-light"><em>2 hours ago</em></span>
                          </div><!-- end column-->
                        </div><!-- end row-->
                        {{ end }}
                        {{ end }}
                        <!--end the display of the profile and actual name-->
                      </div><!-- end col-->
                    </div><!-- end row-->
                    <!---- END USER DATA ROW ------>
                  
                    <!--- START of nested REPLY #1 looks like... --->
                    <div class="thread__body__reply__inner">
                      <p>Can’t believe I’m gonna be that close to Knoxville on a college football Saturday and not be in Neyland!!! Revenge game against South Carolina too!!</p>
                      <!---- NESTED REPLY TO LOOKS LIKE SHOOTER iS LEAVING-->
                      <div class="thread__body__reply__nested">
                        <!---- START USER DATA ROW ------>
                        {{ $targetIndex := 9 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
                        {{ range $index, $user := .Site.Data.users }}
                        {{ if eq $index $targetIndex }}
                        <div class="row align-items-center justify-content-md-center">
                          <div class="col-auto">
                            <div class="headshot mb-0" style="background-image: url('{{ $user.profile.headshot | relURL }}');"></div>
                          </div><!-- end col-->
                          <div class="col p-0">
                            <!---- start the display of the profile and actual name -->
                            <div class="row justify-content-start align-items-center">
                              <div class="col-auto border-secondary-subtle border-end">
                                <div class="profilename">{{ $user.profile.name }} <div class="actualname">{{$user.profile.actualname }}</div>
                                </div>
                              </div><!-- end column-->
                          
                              <div class="col-auto">
                                <span class="fw-light"><em>2 hours ago</em></span>
                              </div><!-- end column-->
                            </div><!-- end row-->
                            {{ end }}
                            {{ end }}
                            <!--end the display of the profile and actual name-->
                          </div><!-- end col-->
                        </div><!-- end row-->
                        <div class="thread__body__reply__inner">
                          <p>Gonna get blown out in Knox and in TennaGeorgiaSee too</p>
                          <div class="thread__body__likes">
                            <div class="likes-container"><span class="likes"></span> <span>12</span></div><!-- end container-->
                          </div><!-- end likes container-->
                          <!---- NESTED REPLY BLOCK -->
                          <div class="thread__body__reply__nested">
                            <!---- START USER DATA ROW ------>
                            {{ $targetIndex := 1 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
                            {{ range $index, $user := .Site.Data.users }}
                            {{ if eq $index $targetIndex }}
                            <div class="row align-items-center justify-content-md-center">
                              <div class="col-auto">
                                <div class="headshot mb-0" style="background-image: url('{{ $user.profile.headshot | relURL }}');"></div>
                              </div><!-- end col-->
                              <div class="col p-0">
                                <!---- start the display of the profile and actual name -->
                                <div class="row justify-content-start align-items-center">
                                  <div class="col-auto border-secondary-subtle border-end">
                                    <div class="profilename">{{ $user.profile.name }} <div class="actualname">{{$user.profile.actualname }}</div>
                                    </div>
                                  </div><!-- end column-->
                              
                                  <div class="col-auto">
                                    <span class="fw-light"><em>2 hours ago</em></span>
                                  </div><!-- end column-->
                                </div><!-- end row-->
                                {{ end }}
                                {{ end }}
                                <!--end the display of the profile and actual name-->
                              </div><!-- end col-->
                            </div><!-- end row-->
                            <div class="thread__body__reply__inner">
                              <p>Worry about your own teams and Austin driving you off the mountain on 18… </p>
                              <img src="https://media.giphy.com/media/xTcnSP3760y1ZhcG4g/giphy.gif" class="img-fluid" >
                              <div class="thread__body__likes">
                                <div class="likes-container"><span class="likes"></span> <span>7</span></div><!-- end container-->
                              </div><!-- end likes container-->
                            </div><!-- end reply inner-->
                          </div><!-- end reply-->
                          <!-- end nested reply BLOCK -->

                          <!----- NESTED REPLY BLOCK of MIGHT WANNA CHECK THOSE FACTS -->
                          <!---- NESTED REPLY BLOCK -->
                          <div class="thread__body__reply__nested">
                            {{ $targetIndex := 5 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
                            {{ range $index, $user := .Site.Data.users }}
                            {{ if eq $index $targetIndex }}
                            <div class="row align-items-center justify-content-md-center">
                              <div class="col-auto">
                                <div class="headshot mb-0" style="background-image: url('{{ $user.profile.headshot | relURL }}');"></div>
                              </div><!-- end col-->
                              <div class="col p-0">
                                <!---- start the display of the profile and actual name -->
                                <div class="row justify-content-start align-items-center">
                                  <div class="col-auto border-secondary-subtle border-end">
                                    <div class="profilename">{{ $user.profile.name }} <div class="actualname">{{$user.profile.actualname }}</div>
                                    </div>
                                  </div><!-- end column-->
                              
                                  <div class="col-auto">
                                    <span class="fw-light"><em>2 hours ago</em></span>
                                  </div><!-- end column-->
                                </div><!-- end row-->
                                {{ end }}
                                {{ end }}
                                <!--end the display of the profile and actual name-->
                              </div><!-- end col-->
                            </div><!-- end row-->
                            <div class="thread__body__reply__inner">
                              <p><img src="https://media.giphy.com/media/l4FATJpd4LWgeruTK/giphy.gif" class="img-fluid"></p>
                              <div class="thread__body__likes">
                                <div class="likes-container"><span class="likes"></span> <span>7</span></div><!-- end container-->
                              </div><!-- end likes container-->
                            </div><!-- end reply inner-->
                          </div><!-- end reply-->
                          <!-- end nested reply BLOCK -->
                  
                          <!---- NESTED REPLY BLOCK -->
                          <div class="thread__body__reply__nested">
                            {{ $targetIndex := 6 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
                            {{ range $index, $user := .Site.Data.users }}
                            {{ if eq $index $targetIndex }}
                            <div class="row align-items-center justify-content-md-center">
                              <div class="col-auto">
                                <div class="headshot mb-0" style="background-image: url('{{ $user.profile.headshot | relURL }}');"></div>
                              </div><!-- end col-->
                              <div class="col p-0">
                                <!---- start the display of the profile and actual name -->
                                <div class="row justify-content-start align-items-center">
                                  <div class="col-auto border-secondary-subtle border-end">
                                    <div class="profilename">{{ $user.profile.name }} <div class="actualname">{{$user.profile.actualname }}</div>
                                    </div>
                                  </div><!-- end column-->
                              
                                  <div class="col-auto">
                                    <span class="fw-light"><em>2 hours ago</em></span>
                                  </div><!-- end column-->
                                </div><!-- end row-->
                                {{ end }}
                                {{ end }}
                                <!--end the display of the profile and actual name-->
                              </div><!-- end col-->
                            </div><!-- end row-->
                            <div class="thread__body__reply__inner">
                              <p><img src="https://media.giphy.com/media/6g8XtfomGPqjS/giphy.gif" class="img-fluid"></p>
                              <div class="thread__body__likes">
                                <div class="likes-container"><span class="likes"></span> <span>7</span></div><!-- end container-->
                              </div><!-- end likes container-->
                  
                            </div><!-- end reply inner-->
                          </div><!-- end reply-->
                          <!-- end nested reply BLOCK -->

                          <!---- NESTED REPLY BLOCK -->
                          <div class="thread__body__reply__nested">
                            {{ $targetIndex := 4 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
                            {{ range $index, $user := .Site.Data.users }}
                            {{ if eq $index $targetIndex }}
                            <div class="row align-items-center justify-content-md-center">
                              <div class="col-auto">
                                <div class="headshot mb-0" style="background-image: url('{{ $user.profile.headshot | relURL }}');"></div>
                              </div><!-- end col-->
                              <div class="col p-0">
                                <!---- start the display of the profile and actual name -->
                                <div class="row justify-content-start align-items-center">
                                  <div class="col-auto border-secondary-subtle border-end">
                                    <div class="profilename">{{ $user.profile.name }} <div class="actualname">{{$user.profile.actualname }}</div>
                                    </div>
                                  </div><!-- end column-->
                              
                                  <div class="col-auto">
                                    <span class="fw-light"><em>1 hour ago</em></span>
                                  </div><!-- end column-->
                                </div><!-- end row-->
                                {{ end }}
                                {{ end }}
                                <!--end the display of the profile and actual name-->
                              </div><!-- end col-->
                            </div><!-- end row-->
                            <div class="thread__body__reply__inner">
                              <p><img src="https://media.giphy.com/media/hWoxxmwzwUDt1QZFiZ/giphy.gif" class="img-fluid"></p>
                              <div class="thread__body__likes">
                                <div class="likes-container"><span class="likes"></span> <span>7</span></div><!-- end container-->
                              </div><!-- end likes container-->
                          
                            </div><!-- end reply inner-->
                          </div><!-- end reply-->
                          <!-- end nested reply BLOCK -->

                          <!---- NESTED REPLY BLOCK -->
                          <div class="thread__body__reply__nested">
                            {{ $targetIndex := 11 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
                            {{ range $index, $user := .Site.Data.users }}
                            {{ if eq $index $targetIndex }}
                            <div class="row align-items-center justify-content-md-center">
                              <div class="col-auto">
                                <div class="headshot mb-0" style="background-image: url('{{ $user.profile.headshot | relURL }}');"></div>
                              </div><!-- end col-->
                              <div class="col p-0">
                                <!---- start the display of the profile and actual name -->
                                <div class="row justify-content-start align-items-center">
                                  <div class="col-auto border-secondary-subtle border-end">
                                    <div class="profilename">{{ $user.profile.name }} <div class="actualname">{{$user.profile.actualname }}</div>
                                    </div>
                                  </div><!-- end column-->
                              
                                  <div class="col-auto">
                                    <span class="fw-light"><em>2 hours ago</em></span>
                                  </div><!-- end column-->
                                </div><!-- end row-->
                                {{ end }}
                                {{ end }}
                                <!--end the display of the profile and actual name-->
                              </div><!-- end col-->
                            </div><!-- end row-->
                            <div class="thread__body__reply__inner">
                              <p>Passenger only for me!</p>
                              <div class="thread__body__likes">
                                <div class="likes-container"><span class="likes"></span> <span>15</span></div><!-- end container-->
                              </div><!-- end likes container-->
                          
                            </div><!-- end reply inner-->
                          </div><!-- end reply-->
                          <!-- end nested reply BLOCK -->

                          <!---- NESTED REPLY BLOCK -->
                          <div class="thread__body__reply__nested">
                            {{ $targetIndex := 2 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
                            {{ range $index, $user := .Site.Data.users }}
                            {{ if eq $index $targetIndex }}
                            <div class="row align-items-center justify-content-md-center">
                              <div class="col-auto">
                                <div class="headshot mb-0" style="background-image: url('{{ $user.profile.headshot | relURL }}');"></div>
                              </div><!-- end col-->
                              <div class="col p-0">
                                <!---- start the display of the profile and actual name -->
                                <div class="row justify-content-start align-items-center">
                                  <div class="col-auto border-secondary-subtle border-end">
                                    <div class="profilename">{{ $user.profile.name }} <div class="actualname">{{$user.profile.actualname }}</div>
                                    </div>
                                  </div><!-- end column-->
                              
                                  <div class="col-auto">
                                    <span class="fw-light"><em>2 hours ago</em></span>
                                  </div><!-- end column-->
                                </div><!-- end row-->
                                {{ end }}
                                {{ end }}
                                <!--end the display of the profile and actual name-->
                              </div><!-- end col-->
                            </div><!-- end row-->
                            <div class="thread__body__reply__inner">
                              <p><span class="tag">@CashIsKing</span> take the wheel!!</p>
                              <div class="thread__body__likes">
                                <div class="likes-container"><span class="likes"></span> <span>7</span></div><!-- end container-->
                              </div><!-- end likes container-->
                          
                            </div><!-- end reply inner-->
                          </div><!-- end reply-->
                          <!-- end nested reply BLOCK -->

                          <!---- NESTED REPLY BLOCK -->
                          <div class="thread__body__reply__nested">
                            {{ $targetIndex := 15 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
                            {{ range $index, $user := .Site.Data.users }}
                            {{ if eq $index $targetIndex }}
                            <div class="row align-items-center justify-content-md-center">
                              <div class="col-auto">
                                <div class="headshot mb-0" style="background-image: url('{{ $user.profile.headshot | relURL }}');"></div>
                              </div><!-- end col-->
                              <div class="col p-0">
                                <!---- start the display of the profile and actual name -->
                                <div class="row justify-content-start align-items-center">
                                  <div class="col-auto border-secondary-subtle border-end">
                                    <div class="profilename">{{ $user.profile.name }} <div class="actualname">{{$user.profile.actualname }}</div>
                                    </div>
                                  </div><!-- end column-->
                              
                                  <div class="col-auto">
                                    <span class="fw-light"><em>45 minutes ago</em></span>
                                  </div><!-- end column-->
                                </div><!-- end row-->
                                {{ end }}
                                {{ end }}
                                <!--end the display of the profile and actual name-->
                              </div><!-- end col-->
                            </div><!-- end row-->
                            <div class="thread__body__reply__inner">
                              <p>I’ll drive that cart so good!</p>
                              <div class="thread__body__likes">
                                <div class="likes-container"><span class="likes"></span> <span>4</span></div><!-- end container-->
                              </div><!-- end likes container-->
                          
                            </div><!-- end reply inner-->
                          </div><!-- end reply-->
                          <!-- end nested reply BLOCK -->

                          <!---- NESTED REPLY BLOCK -->
                          <div class="thread__body__reply__nested">
                            {{ $targetIndex := 14 }} <!-- Index is zero-based, so 1 corresponds to the second team member -->
                            {{ range $index, $user := .Site.Data.users }}
                            {{ if eq $index $targetIndex }}
                            <div class="row align-items-center justify-content-md-center">
                              <div class="col-auto">
                                <div class="headshot mb-0" style="background-image: url('{{ $user.profile.headshot | relURL }}');"></div>
                              </div><!-- end col-->
                              <div class="col p-0">
                                <!---- start the display of the profile and actual name -->
                                <div class="row justify-content-start align-items-center">
                                  <div class="col-auto border-secondary-subtle border-end">
                                    <div class="profilename">{{ $user.profile.name }} <div class="actualname">{{$user.profile.actualname }}</div>
                                    </div>
                                  </div><!-- end column-->
                              
                                  <div class="col-auto">
                                    <span class="fw-light"><em>30 minutes ago</em></span>
                                  </div><!-- end column-->
                                </div><!-- end row-->
                                {{ end }}
                                {{ end }}
                                <!--end the display of the profile and actual name-->
                              </div><!-- end col-->
                            </div><!-- end row-->
                            <div class="thread__body__reply__inner">
                              <p>That’s right ET you tell em!!</p>
                              <div class="thread__body__likes">
                                <div class="likes-container"><span class="likes"></span> <span>3</span></div><!-- end container-->
                              </div><!-- end likes container-->
                          
                            </div><!-- end reply inner-->
                          </div><!-- end reply-->
                          <!-- end nested reply BLOCK -->
                  
                          <!----- END NESTED REPLY BLOCK of MIGHT WANNA CHECK THOSE FACTS -->
                        </div><!-- end reply inner MIGHT WANNA CHECK THOSE FACTS-->
                  
                      </div><!-- end thread__body__reply__nested-->
                      <!----END NESTED REPLY TO LOOKS LIKE SHOOTER IS LEAVING-->
                  
                    </div><!----- END thread__body nested reply #1 Looks like ----->
                  </div><!-------- this is the end of a reply block #5 ------>





              <!---------------------------------End Thread Reply ----------------------------------->
            </div><!-- end MAIN THREAD body-->
          </div><!--------- THIS ENDS THE ENTIRE THREAD --------->
        </div><!-- THIS ends the column for the thread-->



        <!-- start the sidebar-->
        <div class="col-lg-3 col-xl-3 col-md-3 col-sm-12">
            {{ partial "sidebar.html" . }}
        </div><!-- end sidebar-->

      </div><!--end row-->
    </div><!-- end container -->

    {{ .Content }}
  </main>
  {{ end }}