.bd-gutter {
  --bs-gutter-x: #{$bd-gutter-x};
}

.bd-layout {

  @include media-breakpoint-up(lg) {
    display: grid;
    grid-template-areas: "sidebar main";
    grid-template-columns: 1fr 5fr;
    gap: $grid-gutter-width;
  }
}

.bd-sidebar {
  grid-area: sidebar;
}

.bd-main {
  grid-area: main;

  @include media-breakpoint-down(lg) {
    max-width: 760px;
    margin-inline: auto;
  }

  @include media-breakpoint-up(md) {
    display: grid;
    grid-template-areas:
      "intro"
      "toc"
      "content";
    grid-template-rows: auto auto 1fr;
    gap: inherit;
  }

  @include media-breakpoint-up(lg) {
    grid-template-areas:
      "intro   toc"
      "content toc";
    grid-template-rows: auto 1fr;
    grid-template-columns: 4fr 1fr;
  }
}

.bd-intro {
  grid-area: intro;
}

.bd-toc {
  grid-area: toc;
}

.bd-content {
  grid-area: content;
  min-width: 1px; // Fix width when bd-content contains a `<pre>` https://github.com/twbs/bootstrap/issues/25410
}


///start Shooter styles 

.card-header {
    .headshot {
        background-position: center;
        float: left; 
    }  

    h5 {
      float: left;
      margin: $spacer;
    }

    h4 {
      line-height: 50px;
    }
}
//end card header 

.headshot {
    border: 1px solid $secondary;
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-position: center;
}
.likes-container, .comments-container {
  float: left;
  margin-right: $spacer;
  height: 100%;
  padding: 8px;
  span {
    display: inline-block;
  }
  h6{
    margin-bottom: 0;
  }
}//end likes container

.likes, .comments {
  background-image: url(/docs/5.3/assets/img/shooter-like.svg);
  width: 20px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.comments {
    background-image: url(/docs/5.3/assets/img/comment-bubble.svg);
}