.bd-gutter {
  --bs-gutter-x: #{$bd-gutter-x};
}

.bd-layout {

  @include media-breakpoint-up(lg) {
    display: grid;
    grid-template-areas: "sidebar main";
    grid-template-columns: 1fr 5fr;
    gap: $grid-gutter-width;
  }
}

.bd-sidebar {
  grid-area: sidebar;
}

.bd-main {
  grid-area: main;

  @include media-breakpoint-down(lg) {
    max-width: 760px;
    margin-inline: auto;
  }

  @include media-breakpoint-up(md) {
    display: grid;
    grid-template-areas:
      "intro"
      "toc"
      "content";
    grid-template-rows: auto auto 1fr;
    gap: inherit;
  }

  @include media-breakpoint-up(lg) {
    grid-template-areas:
      "intro   toc"
      "content toc";
    grid-template-rows: auto 1fr;
    grid-template-columns: 4fr 1fr;
  }
}

.bd-intro {
  grid-area: intro;
}

.bd-toc {
  grid-area: toc;
}

.bd-content {
  grid-area: content;
  min-width: 1px; // Fix width when bd-content contains a `<pre>` https://github.com/twbs/bootstrap/issues/25410
}


///start Shooter styles 
a {
  color: $green-500;
}

h1, h2, h3, h4 {}

.card-header {
    .headshot {
        background-position: center;
        float: left; 
    }  

    h5 {
      float: left;
      margin: $spacer;
    }

    h4 {
      line-height: 50px;
    }
}
//end card header 

.headshot {
    border: 1px solid $gray-500;
    background-size: cover;
    height: 50px;
    width: 50px;
    //border-radius: 50px;
    background-position: center;
    z-index: 1;
    position: relative;
}
.likes-container, .comments-container {
  float: left;
  margin-right: $spacer;
  height: 100%;
  padding: 8px;
  span {
    display: inline-block;
  }
  h6{
    margin-bottom: 0;
  }
}//end likes container

.likes, .comments {
  background-image: url(/docs/5.3/assets/img/shooter-like.svg);
  width: 20px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  cursor: pointer;
}

.likes:hover {
  background-image: url(/docs/5.3/assets/img/shooter-like-hover.svg);
}

.comments {
    background-image: url(/docs/5.3/assets/img/comment-bubble.svg);
}

////start the reply thread styling 
.navbar.shooter-nav {
  background-color: #19381C !important;
  border-bottom: 2px solid #E3B052 !important;
}

.hero {
  background-image: url(/docs/5.3/assets/img/hero-bg.jpg);
  background-position: center center;
  background-size: cover;
  //min-height: 280px;
  background-color: #19381C;
  background-repeat: no-repeat;
    img {
      margin: $spacer * 3 auto;
    }//end img 
            @include media-breakpoint-down(sm) {
              padding: $spacer !important;
            }//breakpoint
}//end hero

.thread {
  &__header {
  }//end header 

  &__body {
    &__likes {
        .likes-container {
          float: none;
          padding: 0;
          height: auto;
          margin-bottom: $spacer;
        }
      }

      img {
        display: block;
        margin-bottom: $spacer;
      }
  }//end body 

  &__body__reply {
    border-top: 1px solid $gray-400;
    padding-top: $spacer;

    
    &__inner {
    border-left: 2px solid $gray-400;
    margin-left: 23px;
    padding-left: $spacer * 2;
    margin-bottom: $spacer * 2;
    padding-top: $spacer; 
    //padding-bottom: $spacer;
    
        @include media-breakpoint-down(sm) {
          * {
            font-size: 16px;
            text-wrap: pretty;
          }//end text global changes 

       .col-auto.border-secondary-subtle.border-end {
          border: none !important;
        }

        }//end breakpoint
            

    
      //breakpoint

  }//end reply inner 

  &__nested {
    position: relative;

    &::before {
        content: "";
        background: transparent;
        height: 25px;
        width: 53px;
        display: block;
        position: absolute;
        bottom: calc(100% - 20px);
        left: -33px;
        border-left: 1px solid $gray-400;
        border-radius: 0 0 0 15px;
        border-bottom: 2px solid $gray-400;
        z-index: 0;
    }//end before 
  }
 
  }//end reply 
}//end thread 

.profile {
  * {
    font-size: 17px;
  }//

  &.TN {
    .card-footer {
      color: $red-500;
      font-weight: bold;
    }
  }

     &.SIP {
       .card-footer {
         color: $blue-500;
         font-weight: bold;
       }
     }

  &__headshot {
    height: 165px;  
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-right: $gray-500 solid 1px;
  }//end headshot 

  h5 {
    color: $green-500;
  }
}///end profile 

.actualname {
  font-size: 13px;
  font-style: italic;
    &::before {
      content: "(";
    }
    &::after {
      content: ")";
    }
}

.tag {
  color: $green-500;
  font-weight: bold;
}

.card-image {
  height: 175px;
  background-size: cover;
  background-position: center center;
}//end card-image

.no-img .card-image {height: 0; background-image: none !important;}
