<div class="card mb-3 rounded-2 {{.class}}">
  <div class="card-header">
          <div class="row align-items-center justify-content-md-center">
            <div class="col-auto">
              <div class="headshot mb-0" style="background-image: url('{{ .headshot | relURL }}');"></div>
            </div><!-- end col-->
            <div class="col">
              <!---- start the display of the profile and actual name -->
              <div class="row justify-content-start align-items-center">
                <div class="col-auto border-secondary-subtle border-end">
                  <div class="profilename">{{ .name }} <div class="actualname">{{ .actualname }}</div>
                  </div>
                </div><!-- end column-->
          
                <div class="col-auto">
                  <strong>{{ .date }}</strong>
                </div><!-- end column-->
              </div><!-- end row-->
              <!--end the display of the profile and actual name-->
            </div><!-- end col-->
          </div><!-- end row-->
  </div><!-- end card header-->
  <div class="card-image card-img-top rounded-0" style="background-image: url('{{ .featuredimg  | relURL }}');"></div><!--end card image-->
  <div class="card-body"> 
    <h4>{{ .storyName }}</h4>
    <p>{{ .storyDescription }}</p> <!-- Use the description parameter -->
    <a href="{{ .storyURL }}" class="card-link">Read more &#187</a> <!-- Use the URL parameter -->
    <div class="latest-activity">
      <p class="fs-6 mt-3 text-secondary fw-light"><em>Latest Activity: {{ .activity }}</em></p>
    </div><!-- end latest activity-->
  </div><!-- end card body-->

  <div class="card-footer p-0">
  <div class="likes-container"><span class="likes"></span> <span>{{ .likes }}</span></div><!-- end container-->
  <div class="comments-container"><span class="comments"></span> <span>{{ .comments }}</span> </div><!-- end container-->
  <div class="clearfix"></div>

  </div><!-- end card-footer-->
</div> <!-- end card-->
